@import './index.less';
html {
  overflow: auto;
}
* {
  margin: 0;
  padding: 0
}
ul,
ol {
  list-style: none
}
li {
  list-style: none
}
body {
  // 打开滚动条固定显示
  overflow-y: scroll;
  &.colorWeak {
    filter: invert(80%);
  }
  &.userLayout {
    overflow: auto;
  }
}
.ant-layout {
  background: #f4f7f9 !important;
}
.layout.ant-layout {
  height: auto;
  overflow-x: hidden;
  &.mobile,
  &.tablet {
    .ant-layout-content {
      .content {
        //background: #e9ecf9;
        //margin: 24px 0 0;
      }
    }
    /**
     * ant-table-wrapper
     * 覆盖的表格手机模式样式，如果想修改在手机上表格最低宽度，可以在这里改动
     */
    .ant-table-wrapper {
      .ant-table-content {
        overflow-y: auto;
      }
      .ant-table-body {
        min-width: 800px;
      }
    }
    .topmenu {
      /* 必须为 topmenu  才能启用流式布局 */
      &.content-width-Fluid {
        .header-index-wide {
          margin-left: 0;
        }
      }
    }
  }
  &.mobile {
    .sidemenu {
      .ant-header-fixedHeader {
        &.ant-header-side-opened,
        &.ant-header-side-closed {
          width: 100%;
        }
      }
    }
  }
  &.ant-layout-has-sider {
    flex-direction: row;
  }
  .trigger {
    font-size: 20px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
  .topmenu {
    .ant-header-fixedHeader {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      transition: width 0.2s;
      &.ant-header-side-opened {
        width: 100%;
      }
      &.ant-header-side-closed {
        width: 100%;
      }
    }
    /* 必须为 topmenu  才能启用流式布局 */
    &.content-width-Fluid {
      .header-index-wide {
        max-width: unset;
        margin-left: 24px;
      }
      .page-header-index-wide {
        max-width: unset;
      }
    }
  }
  .sidemenu {
    .ant-header-fixedHeader {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      transition: width 0.2s;
      &.ant-header-side-opened {
        width: calc(100% - 256px);
      }
      &.ant-header-side-closed {
        width: calc(100% - 80px);
      }
    }
  }
  .header {
    height: 64px;
    padding: 0 12px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
  }
  .header,
  .top-nav-header-index {
    .user-wrapper {
      float: right;
      height: 100%;
      .action {
        cursor: pointer;
        padding: 0 12px;
        display: inline-block;
        transition: all 0.3s;
        height: 100%;
        color: rgba(0, 0, 0, 0.65);
        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
        .avatar {
          margin: 20px 8px 20px 0;
          color: #1890ff;
          background: hsla(0, 0%, 100%, 0.85);
          vertical-align: middle;
        }
        .icon {
          font-size: 16px;
          padding: 4px;
        }
      }
    }
    &.dark {
      .user-wrapper {
        .action {
          color: rgba(255, 255, 255, 0.85);
          a {
            color: rgba(255, 255, 255, 0.85);
          }
          &:hover {
            background: rgba(255, 255, 255, 0.16);
          }
        }
      }
    }
  }
  &.mobile,
  &.tablet {
    .top-nav-header-index {
      .header-index-wide {
        .header-index-left {
          .trigger {
            color: rgba(255, 255, 255, 0.85);
            padding: 0 12px;
          }
          .logo.top-nav-header {
            flex: 0 0 56px;
            text-align: center;
            line-height: 58px;
            h1 {
              display: none;
            }
          }
        }
      }
      &.light {
        .header-index-wide {
          .header-index-left {
            .trigger {
              color: rgba(0, 0, 0, 0.65);
            }
          }
        }
      }
    }
  }
  &.tablet {
    .top-nav-header-index {
      .header-index-wide {
        .header-index-left {
          .logo>a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .ant-menu.ant-menu-horizontal {
          flex: 0 1 auto;
          white-space: normal;
        }
      }
    }
  }
  .top-nav-header-index {
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
    transition: background 0.3s, width 0.2s;
    .header-index-wide {
      max-width: 1200px;
      margin: auto;
      padding-left: 0;
      display: flex;
      height: 64px;
      .ant-menu.ant-menu-horizontal {
        max-width: 835px;
        flex: 0 1 835px;
        border: none;
        height: 64px;
        line-height: 64px;
      }
      .header-index-left {
        flex: 0 1 1000px;
        display: flex;
        .logo.top-nav-header {
          flex: 0 0 165px;
          width: 165px;
          height: 64px;
          position: relative;
          line-height: 64px;
          transition: all 0.3s;
          overflow: hidden;
          img,
          svg {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
          }
          h1 {
            color: #fff;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            margin: 0 0 0 12px;
            font-weight: 400;
          }
        }
      }
      .header-index-right {
        flex: 1 0 auto;
        height: 64px;
        overflow: hidden;
        .content-box {
          float: right;
        }
      }
    }
    &.light {
      background-color: #fff;
      .header-index-wide {
        .header-index-left {
          .logo {
            h1 {
              color: #002140;
            }
          }
        }
      }
    }
  }
  // 内容区
  .layout-content {
    margin: 0px;
    height: 100%;
    height: 64px;
    padding: 0 12px 0 0;
  }
  // footer
  .ant-layout-footer {
    padding: 0;
  }
}
.topmenu {
  .page-header-index-wide {
    max-width: 1200px;
    margin: 0 auto;
  }
}
// drawer-sider 自定义
.ant-drawer.drawer-sider {
  .sider {
    box-shadow: none;
  }
  &.dark {
    .ant-drawer-content {
      background-color: rgb(0, 21, 41);
    }
  }
  &.light {
    box-shadow: none;
    .ant-drawer-content {
      background-color: #fff;
    }
  }
  .ant-drawer-body {
    padding: 0;
  }
}
// 菜单样式
.sider {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10;
  height: auto;

  .ant-layout-sider-children {
    padding-top: 64px;
    background: #fff;
    position: relative;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    .ant-menu-dark {
      background: #fff;
    }
  }

  &.ant-fixed-sidemenu {
    position: fixed;
    height: 100%;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;
    z-index: 9;

    img,
    svg,
    h1 {
      display: inline-block;
      vertical-align: middle;
    }

    img,
    svg {
      height: 32px;
      // width: 32px;
    }

    h1 {
      color: #fff;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: 600;
      vertical-align: middle;
    }
  }

  &.light {
    background-color: #fff;
    box-shadow: 2px 0px 8px 0px rgba(29, 35, 41, 0.05);

    .logo {
      background: #fff;
      box-shadow: 1px 1px 0px 0px #e8e8e8;

      h1 {
        color: unset;
      }
    }

    .ant-menu-light {
      border-right-color: transparent;
    }
  }
}

// 外置的样式控制
.user-dropdown-menu {
  span {
    user-select: none;
  }
}

.user-dropdown-menu-wrapper.ant-dropdown-menu {
  padding: 4px 0;

  .ant-dropdown-menu-item {
    width: 160px;
  }

  .ant-dropdown-menu-item>.anticon:first-child,
  .ant-dropdown-menu-item>a>.anticon:first-child,
  .ant-dropdown-menu-submenu-title>.anticon:first-child .ant-dropdown-menu-submenu-title>a>.anticon:first-child {
    min-width: 12px;
    margin-right: 8px;
  }
}

.setting-drawer-index-handle {
  display: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}

.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 20px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      >.ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.content {
  .table-operator {
    margin-bottom: 18px;

    button {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.ant-pro-multi-tab {
  margin: 0 -24px 20px -24px;
}

.ant-tabs-card-bar {
  padding-left: 0 !important;
}

.ant-layout-content {
  height: 100%;
  margin: 0px;
  // padding-top: 0px;
  background: rgb(233, 237, 248);
  //padding: 20px 20px 0;
  overflow: hidden;
  //margin-bottom: 15px !important;
}


.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  padding-top: 5px;
  padding-left: 30px;
  background: #f0f0f0;
}

.ant-table-bordered .ant-table-thead>tr>th,
.ant-table-bordered .ant-table-tbody>tr>td {
  border-right: 0 !important;
}

.wy-border-b {
  border-bottom: 1px solid #ccc;
}

.wy-pd-b-30 {
  padding-bottom: 30px;
}

.wy-title {
  color: #17233C;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;

  .wy-title-sub {
    font-weight: 200;
    font-size: 14px;
    color: #515A6E
  }
}

.wy-login {
  .ant-input-affix-wrapper .ant-input-prefix {
    display: none;
  }

  .ant-form-item-label label {
    color: #fff;
    margin-left: 12px;
  }

  .ant-form-item-control-wrapper {
    height: 60px;
    width: 275px;

    .ant-form-item-control {
      height: 60px;

      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        height: 60px;
      }

      .ant-input {
        padding-left: 10px;
      }
    }
  }

  .btnbox {
    width: 270px;
    height: 60px;
    margin: 50px auto 0;
    position: relative;

    .login-button {
      width: 270px;
      height: 60px;
      margin: 0 auto;
      border-radius: 30px;
      display: block;
    }

    .arrow {
      position: absolute;
      right: 32px;
      top: 25px;
    }
  }

  .ant-input:hover,
  .password:hover {
    border-color: #fff #fff #d9d9d9 #fff !important;
    border-right-width: 0;
  }

  .ant-input:focus,
  .password:focus {
    border-color: #fff #fff #d9d9d9 #fff !important;
    outline: 0;
    box-shadow: none;
    border-right-width: 0;
  }

  .ant-input,
  .password {
    padding: 0;
    border-color: #fff #fff #d9d9d9 #fff !important;
  }


}

.strategydetailModal {
  overflow: hidden;

  .ant-modal-body {
    overflow: hidden;
  }

  .left {
    display: block;
    float: left;
    width: 40%;

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-form-item-label {
      width: 30%;
      float: left;
    }

    .ant-form-item-control-wrapper {
      width: 70%;
      display: inline-block;
    }
  }

  .right {
    width: 55%;
    margin-left: 20px;
    display: block;
    float: left;

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-form-item-label {
      float: left;
      width: 38%;
    }

    .ant-form-item-control-wrapper {
      width: 62%;
      display: inline-block;
    }
  }

}

.strategyModal {
  .ant-form-item-label {
    width: 85px;
  }

  .ant-form-item-control-wrapper {
    width: 215px;
    display: inline-block;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}









.wy-form-select {
  padding: 10px 15px 5px 15px;
  margin-bottom: 10px;

  .ant-form-item {
    margin-bottom: 5px;
  }

  .ant-form-item-control,
  .ant-form-item-label {
    line-height: 30px !important;
  }

  .ant-calendar-range-picker-input,
  .ant-calendar-range-picker-input {
    font-size: 12px;
  }
}

.wy-card-widget {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(84, 48, 132, .1);
}

.wy-card-widget:hover {
  box-shadow: 0 6px 14px 0 rgba(84, 48, 132, .15)
}

.wy-card-title {
  color: #5cb85c;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.wy-block-operate-menu {
  display: none;
}

.wy-block-operate.wy-block-flex {
  position: fixed !important;
  width: 100%;
  height: 100% !important;
  top: 0px;
  left: 0px;
  background: #ffffff !important;
  z-index: 999;
}

.wy-block-operate:hover {
  position: relative;

  .wy-block-operate-menu {
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
  }
}

.wy-date-time {
  margin-left: 10px;
  cursor: pointer;
}



.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a {
  color: #333 !important
}

.ant-menu-dark .ant-menu-item-selected>a,
.ant-menu-dark .ant-menu-item-selected>a:hover {
  color: rgb(252, 177, 255) !important;
  border-radius: 4px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #fff !important;
}

.ant-menu-inline .ant-menu-item {
  overflow: none !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 10px #E0E0E0;
  -webkit-box-shadow: 0px 0px 10px #E0E0E0;
  box-shadow: 0px 0px 10px #E0E0E0;
}

.wy-titletype {
  padding: 0 16px;
  font-size: 20px;
  color: #222;
  margin: 0;

  .spans {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    line-height: 36px;
    font-size: 16px;
    border-bottom: 1px solid rgb(211, 211, 211);
  }

  .small-span {
    padding: 0;
    display: inline-block;
    width: 100%;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
}

.ant-menu-item {
  padding-left: 10px !important;
}

.layout.ant-layout .header {
  height: 64px;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background: #fff; */
  box-shadow: none;

  // position: relative;
  .trigger {
    float: right;
  }

  .trigger:hover {
    background: #fff;
    color: #8b7bf1;
  }
}
.wy-side-menu{
  .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    left: 0;
    padding: 0 16px !important;
    text-overflow: clip;
  }
}


.wy-form {
  .ant-table {
    border-radius: 10px;
    overflow: hidden;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 10px 16px;
  }

  .ant-table-thead>tr>th {
    background: #fff !important;
    border-bottom: 0;
    border-right: 1px solid #e8e8e8;
  }

  .ant-table-thead>tr>th:last-child {
    background: #fff !important;
    border-right: 0;
  }

  .ant-table-tbody>tr>td {
    border-bottom: 0;
    border-right: 1px solid #e8e8e8;
  }

  .ant-table-tbody>tr>td:last-child {
    border-bottom: 0;
    border-right: 0;
  }

  .ant-table-tbody>tr:nth-child(odd)>td {
    background: #f7f7f7;
  }

  .ant-table-tbody>tr:nth-child(even)>td {
    background: #fff;
  }

  .ant-pagination {
    float: right;
    margin-top: 15px;

    li {
      background: none !important;
    }
  }

  .ant-pagination-total-text {
    float: right;
    margin-top: 2px;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background: none !important;
  }

  .ant-pagination-options-quick-jumper {
    input {
      background-color: #e9ecf9;
    }
  }
}

.wy-modal {
  .ant-modal-header {
    padding: 10px 24px;
    background: #f7f7f7;
  }
  .ant-modal-close-x {
    display: none;
  }
  .forms {
    .ant-form-item {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      width: 160px;
      white-space: wrap;
      float: left;
    }

    .ant-form-item-control-wrapper {
      width: 415px;
      display: inline-block;
    }

    .ant-form-item:last-child {
      .ant-form-item-control-wrapper {
        width: 550px;
        display: inline-block;
      }
    }
  }
}
.wy-btns {
  width: 100%;
  text-align: center;

  .save,.discard {
    display: inline-block;
    width: 85px;
    height: 24px;
    border-radius: 40px;
    line-height:24px;
    cursor: pointer;
    i{
      // float:left;
      // margin-left:8px;
      margin-right:8px;
      // margin-top:4px;
    }
  }

  .save {
    margin-right: 18px;
    background: #e9e7ff;
    color: #8674f0;
  }

  .discard {
    background: #f8e7f6;
    color: #f25a81;
  }
}

.wy-dropdown {
  .ant-btn-default {
    display: none;
  }
  .ant-dropdown-trigger {
    display: block;
    border: none;
    background: #f7f7f7
  }
}

.wy-right {
  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-form-item-label {
    width: 100px;
    white-space: wrap;
    float: left;
  }

  .ant-form-item-control-wrapper {
    width: 220px;
    display: inline-block;
  }

  .ant-form-item:last-child {
    .ant-form-item-control-wrapper {
      width: 290px;
      display: inline-block;
    }
  }
  .rightForms{
    .ant-form-item{
      .ant-form-item-label{
        width: 70px;
      }
      .ant-form-item-control-wrapper{
        width: 120px;
      }
    }
  }
  .wy-tit{
    border-bottom:1px solid #eee;
    padding:10px;
    font-size:18px;
    font-weight:500;
    margin:0;
    margin-bottom:15px;
  }
}
.wy-rights {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-form-item-label {
    width: 90px;
    float: left;
  }

  .ant-form-item-control-wrapper {
    width: 125px;
    display: inline-block;
  }

  .ant-form-item:last-child {
    .ant-form-item-control-wrapper {
      width: 125px;
      display: inline-block;
    }
  }
  .rightForms{
    .ant-form-item{
      .ant-form-item-label{
        width: 70px;
      }
      .ant-form-item-control-wrapper{
        width: 120px;
      }
    }
  }
  .wy-tit{
    border-bottom:1px solid #eee;
    padding:10px;
    font-size:18px;
    font-weight:500;
    margin:0;
    margin-bottom:15px;
  }
  .ClinicInfo{
    .ant-form-item-label {
      width: 125px;
      float: left;
    }
  
    .ant-form-item-control-wrapper {
      width: 125px;
      display: inline-block;
    }
  }
}
.wy-form-title{
  color:#000;
  font-size:16px;
  width:100%;
  margin:0;
  border-bottom:1px solid #eee;
  padding-bottom:10px;
  line-height:16px;
  margin-bottom:15px;
}
.wy-form-title-sub{
  width:100%;
  margin-bottom:10px;
}
.wy-modals{
  .bottom .ant-form-item-control-wrapper{
    width: 551px;
  }
  .ant-modal-close-x {
    display: none;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    width: 90px;
    white-space: wrap;
    line-height:34px;
    float: left;
  }
  .ant-form-item-control-wrapper {
    width: 192px;
    display: inline-block;
    .ant-form-item-control {
      line-height: 34px;
    }
  }
  .ClinicInfo{
    overflow: hidden;
    .ant-form-item-label {
      width: 120px;
      white-space: wrap;
      line-height:34px;
      float: left;
    }
    .ant-form-item-control-wrapper {
      width: 240px;
      display: inline-block;
      .ant-form-item-control {
        line-height: 34px;
      }
    }
  }
  .ant-radio-button-wrapper{
    display:none;
  }
  .ant-fullcalendar-header {
    padding: 11px 0 11px 0;
    text-align: center;
}
}
