<template>
  <div class="content">
    <div class="noAppointment">
      <div class="text">
        <p>
          You have no appointment yet, Newcare will help you to connect with the
          right doctor.
        </p>
        <a-button class="allDoctors">All available doctors</a-button>
      </div>
    </div>
    <div class="haveAppointment">
      <!-- <div class="title">
        <a-icon
          type="pushpin"
          style="color:#8472f0; margin:0 10px 0 20px;font-size:20px"
        />
        <span
          >Consultation Appointment With Dr XXX At 10/18/2019 9:00AM Has
          Confirmed</span
        >
      </div> -->
      <div class="appointmentContent">
        <a-row :gutter="16">
          <a-col :span="16" class="leftContent gutter-row">
            <div class="gutter-box">
              <div class="doctorInfo">
                <h4 class="tit">
                  Doctor information
                </h4>
                <div class="doctorDetail">
                  <div class="photo">
                    <img src="../../assets/doctor.png" alt="" />
                  </div>
                  <div class="doctorTable">
                    <table class="left">
                      <tbody>
                        <tr>
                          <td>Firstname</td>
                          <td>xxxx</td>
                        </tr>
                        <tr>
                          <td>Lastname</td>
                          <td>xxxx</td>
                        </tr>
                        <tr>
                          <td>Language</td>
                          <td>
                            <a-tag>ENG</a-tag>
                            <a-tag>CHN</a-tag>
                          </td>
                        </tr>
                        <tr>
                          <td>Areas</td>
                          <td>
                            <a-tag color="pink">abc</a-tag>
                            <a-tag color="red">dvh</a-tag>
                            <a-tag color="orange">ssss</a-tag>
                            <a-tag color="orange">Dvhn</a-tag>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="right">
                      <tbody>
                        <tr>
                          <td>Email</td>
                          <td>foreample@xxx.com</td>
                        </tr>
                        <tr>
                          <td>Mobile</td>
                          <td>+1-347-123-9879</td>
                        </tr>
                        <tr>
                          <td>Gender</td>
                          <td>Male</td>
                        </tr>
                        <tr>
                          <td>Age</td>
                          <td>45</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="myPhoto">
                <h4>Date and Time</h4>
                <div class="myCon">
                  <div class="myText">
                    <p>
                      Your appointment with Doctor XXXX is on Lorem ipsum dolor
                      sit amet consectetur adipisicing elit. Tempore laboriosam,
                      non sapiente in et odio veritatis temporibus saepe est ab
                      sequi incidunt aperiam perspiciatis quaerat, animi minima
                      quae rerum porro!
                    </p>
                    <div class="uploadPhoto">
                      <img src="../../assets/imgs.jpg" alt="" />
                      <img src="../../assets/imgs.jpg" alt="" />
                      <img src="../../assets/imgs.jpg" alt="" />
                      <img src="../../assets/imgs.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a-col>
          <a-col :span="8" class="rightContent gutter-row">
            <div class="gutter-box">
              <div class="clinicInfo">
                <h4 class="tit">Clinic information</h4>
                <div class="clinicDetail">
                  <table>
                    <tbody>
                      <tr>
                        <td>Clinic Name</td>
                        <td>Fountain Vally</td>
                      </tr>
                      <tr>
                        <td>Clinic Address</td>
                        <td>12345 xxx Street,Fountain Vally,CA 92360</td>
                      </tr>
                      <tr>
                        <td>Number</td>
                        <td>+1-234-567-9876</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="map"></div>
                <div class="clinicPhotos">
                  <h4>clinic photos</h4>
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
  </div>
</template>
<script>
import { listUser, enabled, delPhone } from "@/api/system";
// import adduser from './addUser.vue'
// import modifyuser from './modifyUser.vue'
export default {
  name: "Rule",
  components: {},
  data() {
    return {
      columns: [
        { title: "ID", dataIndex: "id", key: "id" },
        { title: "姓名", dataIndex: "user_name", key: "user_name" },
        {
          title: "登录方式",
          key: "note",
          scopedSlots: { customRender: "mode" }
        },
        {
          title: "状态",
          key: "is_enabled",
          dataIndex: "is_enabled",
          scopedSlots: { customRender: "is_enabled" },
          filters: [
            { text: "禁用", value: 0 },
            { text: "启用", value: 1 }
          ],
          width: 150
        },
        {
          title: "操作",
          key: "operation",
          width: 200,
          scopedSlots: { customRender: "action" }
        }
      ],
      listdata: [],
      selectedRowKeys: [],
      key: "",
      pageTotal: 0,
      page: 1,
      limit: 10,
      is_enabled: 0, // 0：禁用  1：启用
      statustype: 2, // 启用禁用状态 ，用作查询列表 0：禁用   1:启用  2：全部
      addUserFlag: false,
      userId: "",
      modifyuserFlag: false
    };
  },
  computed: {},
  watch: {},
  created() {
    // this.getdata()
  },
  mounted() {},
  methods: {
    // 列表过滤 查询
    handleTableChange(pagination, filters, sorter) {
      // filers
      if (filters.is_enabled.length === 2 || filters.is_enabled.length === 0) {
        this.statustype = 2;
      } else {
        this.statustype = filters.is_enabled[0];
      }
      this.getdata();
    },
    // 删除单条
    delItem(item) {
      delPhone({
        id: item.id
      })
        .then(res => {
          if (res.code === 0) {
            // this.$parent.getAllphone()
            this.getdata();
            this.$message.success("删除成功");
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },
    // 单条启用，禁用
    itemenabled(item, isEnabled) {
      this.is_enabled = isEnabled;
      const arr = [];
      arr.push(item.id);
      enabled({ is_enabled: this.is_enabled }, arr)
        .then(res => {
          if (res.code === 0) {
            this.getdata();
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },
    // 禁用启用
    status(data) {
      this.is_enabled = data;
      // enabled
      if (this.selectedRowKeys.length === 0) {
        this.$message.error("至少选择一项");
      }
      enabled({ is_enabled: this.is_enabled }, this.selectedRowKeys)
        .then(res => {
          if (res.code === 0) {
            this.selectedRowKeys = [];
            this.getdata();
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },
    // 搜索
    searchbtn() {
      this.page = 1;
      this.limit = 10;
      this.getdata();
    },
    // 分页
    pagesizechange(page, pageSize) {
      this.page = page;
      this.limit = pageSize;
      this.getdata();
    },
    // 获取列表
    getdata() {
      listUser({
        key: this.key,
        page: this.page,
        limit: this.limit,
        is_enabled: this.statustype
      })
        .then(res => {
          if (res.code === 0) {
            this.pageTotal = res.data.total;
            this.listdata = res.data.items;
          } else {
            this.listdata = [];
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },
    // 新增用户
    adduser() {
      this.addUserFlag = true;
      // this.$router.push({
      //   path: '/userManage/addUser'
      // })
    },
    // 列表选择框回调
    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
    },
    // 列表修改
    itemchange(item) {
      this.modifyuserFlag = true;
      this.userId = item.id;
      setTimeout(() => {
        this.$refs.modifychild.getdetail(item);
      }, 50);
      // this.$router.push({
      //   path: '/userManage/modifyUser/' + item.id
      // })
    },
    // 点击查看
    loginMode(item) {
      this.$router.push({
        path: "/userManage/loginMode/" + item.id
      });
    },
    // 弹窗消失
    cancelModal() {
      this.addUserFlag = false;
      this.getdata();
    },
    // 修改弹窗消失
    cancelmodifyModal() {
      this.modifyuserFlag = false;
      this.getdata();
    },
    requestFailed(err) {
      this.$message.error("请求出现错误，请稍后再试");
    }
  }
};
</script>

<style lang="less" scoped>
.content {
  width: 100%;
  height: 100%;
  background: rgb(233, 237, 248);
  padding: 25px 25px 0 15px;
  .noAppointment {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
    .text {
      text-align: center;
      padding: 20px;
    }
    //display: none;
    p {
      margin-bottom: 40px;
    }
    .allDoctors {
      background-image: linear-gradient(to right, #9994da, #5d47d8);
      border-radius: 5px;
      color: #fff;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
  }
  .haveAppointment {
    padding-bottom: 30px;
    // .title {
    //   border: 1px dashed #8472f0;
    //   border-radius: 5px;
    //   height: 40px;
    //   line-height: 40px;
    //   margin-bottom: 10px;
    //   span {
    //     color: #8472f0;
    //     font-size: 20px;
    //     font-weight: 500;
    //   }
    // }
    .appointmentContent {
      .gutter-box {
        padding: 5px 0;
      }
      .leftContent {
        .doctorInfo {
          padding: 10px 20px;
          background: #fff;
          border-radius: 10px;
          .doctorDetail {
            padding: 10px 30px;
            .doctorTable {
              overflow: hidden;
              table {
                width: 50%;
                tr > td:first-child {
                  text-align: right;
                  height: 40px;
                  font-weight: 500;
                  font-size: 15px;
                  padding-right: 10px;
                }
              }
              .left {
                float: left;
                width: 52%;
              }
              .right {
                float: right;
                width: 48%;
              }
            }
          }
          .photo img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background: #5d47d8;
          }
        }
        .myPhoto {
          background: #fff;
          padding: 10px 20px;
          margin-top: 10px;
          border-radius: 10px;
          padding-bottom: 30px;
          .myCon {
            padding: 10px 0;
            // overflow: hidden;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            justify-content: space-between;
            .myText {
              line-height: 2.5;
              .uploadPhoto {
                margin-top: 40px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                img {
                  width: 120px;
                  height: 135px;
                }
              }
            }
          }
        }
      }
      .rightContent {
        .clinicInfo {
          padding: 10px 20px;
          border-radius: 10px;
          background: #fff;
          table {
            tr > td:first-child {
              width: 40%;
              text-align: right;
              height: 40px;
              font-weight: 500;
              font-size: 15px;
              padding-right: 10px;
            }
          }
          .map {
            height: 200px;
            background: #5d47d8;
            border-radius: 10px;
            margin-bottom: 20px;
          }
          .clinicPhotos {
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              padding: 10px 0;
              li {
                background: #5d47d8;
                width: 130px;
                height: 100px;
                margin-bottom: 10px;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
