<template>
  <div>
		<div class='forms_d'>
			<p class='wy-form-title'>
				Doctor Profile
			</p>
			<div class='doctorinfo'>
				<a-form :form="form">
					<div class='lefts'>
						<a-form-item label="Firstname">
							<a-input
								v-decorator="['Firstname', { rules: [{ required: true, message: 'Please input your Firstname!' }] }]"
							/>
						</a-form-item>
						<a-form-item label="Lastname">
							<a-input
								v-decorator="['Lastname', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
							/>
						</a-form-item>
						<a-form-item  label="Gender">
							<a-select
								v-decorator="[
								'Gender', { rules: [{ required: true, message: 'Please select your gender!' }] },
								]"
							>
								<a-select-option value="man">
									man
								</a-select-option>
								<a-select-option value="woman">
									woman
								</a-select-option>
								<a-select-option value="secrecy">
									secrecy
								</a-select-option>
								
							</a-select>
						</a-form-item>
					</div>
					<div class="centers">
						<a-form-item  label="Language">
							<a-select
								v-decorator="[
								'Language',
								{
									rules: [
									{ required: true, message: 'Please select your favourite colors!', type: 'array' },
									],
								},
								]"
								mode="multiple"
								placeholder="Please select favourite colors"
							>
								<a-select-option value="English">
									English
								</a-select-option>
								<a-select-option value="Chinese">
									Chinese
								</a-select-option>
							</a-select>
						</a-form-item>
						<a-form-item label="E-mail">
							<a-input
								v-decorator="[ 'email', { rules: [ {
										type: 'email',
										message: 'The input is not valid E-mail!',
									}, {
										required: true,
										message: 'Please input your E-mail!',
									}],
								}]"
							/>
						</a-form-item>
						<a-form-item label="Mobile">
							<a-input
								v-decorator="['Mobile', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
							/>
						</a-form-item>
					</div>
					<div class="rights">
						<span class='head' v-if='headPortrait'>
							<a-icon class="user-add" type="user-add"  />
						</span>
						<wy-img-crop @imglist='imglist'  @headPortraitcb="headPortraitcb"></wy-img-crop>
					</div>
				</a-form>
			</div>
			<p class='wy-form-title'>
				Area or Specialty
			</p>
			<div class='Specialty'>
				<tagsmodal class='tagsmodal' :flag='true'></tagsmodal>
			</div>
			<p class='wy-form-title'>
					Short Bio
				</p>
			<div class='biobox'>
				<a-textarea placeholder="Basic usage" :rows="3" />
			</div>
			<p class='wy-form-title'>
				Professional Profile
			</p>
			<div class='Professional'>
				<p>
					<span>
						Profession Range from
					</span>
					<span>
						<a-input-number :min="1" :max="10" v-model="sYarn" @change="sYarnchange" />
						To
						<a-input-number :min="1" :max="10" v-model="eYarn" @change="eYarnchange" />
					</span>
				</p>
				<p class='wy-form-title-sub'>
					Age of patient
				</p>
				<div class='tables'>
					<p class='tables-head'>
						<span class='tables-head-sp sp'>
							<35
						</span>
						<span class='tables-head-sp sp'>
							35~37
						</span>
						<span class='tables-head-sp sp'>
							38~40
						</span>
						<span class='tables-head-sp sp'>
							>40
						</span>
						<span class='tables-head-sp sp'>
							Delete
						</span>
					</p>
					<p v-for="(item,index) in currentMingxi" :key='index' class='tables-body'>
						<span class='tables-head-sp sp'>
							<a-input v-model="item.age35" />
						</span>
						<span class='tables-head-sp sp'>
							<a-input v-model="item.age35_37" />
						</span>
						<span class='tables-head-sp sp'>
							<a-input v-model="item.age38_40" />
						</span>
						<span class='tables-head-sp sp'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp' @click='delrow(index)'>
							<a-icon type="delete" />
						</span>
					</p>
					<p class='add-row'>
						<span class='add-row-sp' @click='addrow'>
							+ Add Date Entry
						</span>
					</p>
				</div>
				<p class='wy-form-title-sub'>
					Diagnosis
				</p>
				<div class='tables'>
					<p class='tables-head'>
						<span class='tables-head-sp sp1'>
							Tubal
						</span>
						<span class='tables-head-sp sp1'>
							Uterine
						</span>
						<span class='tables-head-sp sp1'>
							Ovulatory
						</span>
						<span class='tables-head-sp sp1'>
							Diminished ovarian reserve
						</span>
						<span class='tables-head-sp sp1'>
							Endometriosis
						</span>
						<span class='tables-head-sp sp1'>
							Male factor
						</span>
						<span class='tables-head-sp sp1'>
							Other factor
						</span>
						<span class='tables-head-sp sp1'>
							Unknown factor
						</span>
						<span class='tables-head-sp sp1'>
							Multiple female factors only
						</span>
						<span class='tables-head-sp sp1'>
							Multiple female & male factors
						</span>
						<span class='tables-head-sp sp1'>
							Delete
						</span>
					</p>
					<p v-for="(item,index) in currentMingxi1" :key='index' class='tables-body'>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age35" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age35_37" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age38_40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1'>
							<a-input v-model="item.age40" />
						</span>
						<span class='tables-head-sp sp1' @click='delrow1(index)'>
							<a-icon type="delete" />
						</span>
					</p>
					<p class='add-row'>
						<span class='add-row-sp' @click='addrow1'>
							+ Add Date Entry
						</span>
					</p>
				</div>
				<p class='wy-form-title-sub'>
					Cycle category
				</p>
				<div class='tables'>
					<p class='tables-head'>
						<span class='tables-head-sp sp2'>
							Fresh embryos from fresh nondonor eggs
						</span>
						<span class='tables-head-sp sp2'>
							Frozen embryos from nondonor eggs
						</span>
						<span class='tables-head-sp sp2'>
							Fresh or frozen ebryos from donor eggs
						</span>
						<span class='tables-head-sp sp2'>
							Delete
						</span>
					</p>
					<p v-for="(item,index) in currentMingxi2" :key='index' class='tables-body'>
						<span class='tables-head-sp sp2'>
							<a-input v-model="item.age35" />
						</span>
						<span class='tables-head-sp sp2'>
							<a-input v-model="item.age35_37" />
						</span>
						<span class='tables-head-sp sp2'>
							<a-input v-model="item.age38_40" />
						</span>
						<span class='tables-head-sp sp2' @click='delrow2(index)'>
							<a-icon type="delete" />
						</span>
					</p>
					<p class='add-row'>
						<span class='add-row-sp' @click='addrow2'>
							+ Add Date Entry
						</span>
					</p>
				</div>
				
			</div>
			
			<p class='wy-form-title'>
				Clinic Profile
			</p>
			<div class='ClinicInfo'>
				<a-form :form="form">
					<div class='lefts'>
						<a-form-item label="Facility Name">
							<a-input
								v-decorator="['FacilityName', { rules: [{ required: true, message: 'Please input your FacilityName!' }] }]"
							/>
						</a-form-item>
						<a-form-item label="Street Address">
							<a-input
								v-decorator="['Street Address', { rules: [{ required: true, message: 'Please input your Street Address!' }] }]"
							/>
						</a-form-item>
						<a-form-item label="City">
							<a-input
								v-decorator="['City', { rules: [{ required: true, message: 'Please input your City!' }] }]"
							/>
						</a-form-item>
						<a-form-item  label="State">
							<a-select
								v-decorator="[
								'state', { rules: [{ required: true, message: 'Please select your gender!' }] },
								]"
							>
								<a-select-option :value="item" v-for='(item,index) in state' :key='index'>
									{{item}}
								</a-select-option>
							</a-select>
						</a-form-item>
					</div>
					<div class="centers">
						<a-form-item label="Mobile">
							<a-input
								v-decorator="['Mobile', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
							/>
						</a-form-item>
						<a-form-item label="E-mail">
							<a-input
								v-decorator="[ 'email', { rules: [ {
										type: 'email',
										message: 'The input is not valid E-mail!',
									}, {
										required: true,
										message: 'Please input your E-mail!',
									}],
								}]"
							/>
						</a-form-item>
						<a-form-item label="Zip Code">
							<a-input
								v-decorator="['Zipcode', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
							/>
						</a-form-item>
					</div>
				</a-form>
			</div>
			<!-- <p class='wy-form-title-sub'>
				Introduction
			</p>
			<div class='Introduction'>
				<a-textarea placeholder="Basic usage" :rows="3" />
			</div> -->
			<p class='wy-form-title-sub'>
				Gallery
			</p>
			<div class='Gallery'>
				<img-cropd @imglists='imglists' ></img-cropd>
			</div>
			<p class='wy-form-title'>
				Appointment Profile
			</p>
			<div class='Appointment'>
				<p class='row'>
					<!-- 是否接收预约 -->
					<span class='labels'>
						Doctor is accepting appointments through 
					</span>
					<span class='swith'>
						<a-switch  @change="switchChange" />
					</span>
				</p>
				<p class='row'>
					<!-- 第一次是否免费 -->
					<span class='labels'>
						Doctor is in consulting free program
					</span>
					<span class='swith'>
						<a-switch  @change="switchChange2" />
					</span>
				</p>
				<p class='row'>
					<span class='labels'>
						Doctor is accepting appointments No Further Than
					</span>
					<span class='swith'>
						<a-input-number size="small" :min="1" :max="10" /> Day
					</span>
				</p>
				<div class='date'>
					<div class='datepicker' :style="{ width: '300px',display:'inline-block', border: '1px solid #d9d9d9', borderRadius: '4px' }">
						<a-calendar mode='month' :fullscreen="false" @panelChange="onPanelChange" @change="datachange"/>
					</div>
					<div class='time'>
						<span v-for="(item,index) in timeSlot" :key="index" class='timeslot' >
							{{item}} 
							<span v-if='itemdetailflag' class='deltimeslot' @click="delTimeSlot(index)">X</span>
						</span>
						<span class='add' @click='addTime' v-if='itemdetailflag'>
							<a-icon type="plus-circle"  /> Add
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class='wy-btns'>
			<span  class='save' @click='save'><a-icon type="check-circle" />Save</span>
			<span  class='discard' @click='cancel'> <a-icon type="close-circle"  />Discard</span>
		</div>
		<a-modal
			title="Title"
			:visible="timeflag"
			@ok="timeChange"
			:width="400"
			@cancel="timeCancel"
		>
			Time: <a-time-picker  format="HH:mm" @change="sTimechange" :minuteStep='10'/> To  <a-time-picker  format="HH:mm" @change="eTimechange" :minuteStep='10'/>
		</a-modal>
  </div>
</template>
<script>

import { listUser, enabled, delPhone } from '@/api/system'
import WyImgCrop from '../../components/imgcrop/WyImgCrop'
import ImgCropd from '../../components/imgcropd/WyImgCropd'
import tagsmodal from './tagsmodal.vue'
import moment from 'moment'
// import adduser from './addUser.vue'
// import modifyuser from './modifyUser.vue'
export default {
	name: 'Rule',
	components: {
		WyImgCrop,
		ImgCropd,
		tagsmodal
	},
	data () {
		return {
			form: this.$form.createForm(this, { name: 'doctor' }),
			form1: this.$form.createForm(this, { name: 'clinic' }),
			columns : [
					{
						title: 'Doctor Name',
						dataIndex: 'doctorName',
						key: 'doctorName',
					},
					{
						title: 'Clinic Name',
						dataIndex: 'Clinic Name',
						key: 'Clinic Name',
					},
					{
						title: 'Enrolled At',
						key: 'Enrolled At',
						dataIndex: 'Enrolled At',
					},
					{
						title: 'Modified At',
						key: 'Modified At',
						dataIndex: 'Modified At',
					},
			],
			data: [{
				doctorName:'张困'
			},{
				doctorName:'李四'
			}],
			pageTotal: 0,
			page: 1,
			limit: 10,
			createFlag:false,
			headPortrait:true, // 头像
			sYarn:0,
			eYarn:0,
			state:['Alaska','Arizona','Arkansas','California','Colorado','Columbia', 'Connecticut', 'Delaware', 'Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa', 'Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi', 'Missour', 'Montana','Nebraska','Nevada','New Hampshire','New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota','Ohio','Oklahoma','Oregon', 'Pennsyivania','Rhode Island','South Carolina', 'South Dakota','Tennessee,Texas', 'Utah','Vermont','Virgina','Washington','West Virginia','Wisconsin', 'Wyoming'],
			currentMingxi:[], // 添加行-数据
			currentMingxi1:[], // 添加行-数据
			currentMingxi2:[], // 添加行-数据
			visible:false,
			timeflag:false,
			sTime:'',
			eTime:'',
			timeSlot:[],
		}
	},
	props:["itemdetailflag"],
	computed: {},
	watch: {},
	created () {
		// this.getdata()
	},
	mounted () {},
	methods: {
		delTimeSlot(index){
			this.timeSlot.splice(index,1)
		},
		sTimechange(value){
			this.sTime=moment(value._d).format('HH:mm')
		},
		eTimechange(value){
			this.eTime=moment(value._d).format('HH:mm')
		},
		timeChange(){
			let time=this.sTime+'-'+this.eTime
			this.timeSlot.push(time)
			this.timeflag=false
		},
		timeCancel(){
			this.timeflag=false
		},
		addTime(){
			this.timeflag=true
		},
		datachange(value){
			let date=moment(value._d).format('YYYY-MM')
		},
		//日历回调
		onPanelChange(value, mode) {
			console.log(value, mode);
		},
		handleCancel(){
			this.visible=false
		},
		handleOk(){
			this.closedetail()
			this.visible=false
			this.createFlag=true
			// this.addadminFlag=true
		},
		// 关闭详情
		closedetail(){
			this.itemdetailflag=false
			this.detailflag=false
		},
		addrow(){
			let temp = [];
			temp = this.currentMingxi.slice(0);
			temp.push(this.newGuize());
			this.currentMingxi = temp;
		},
		delrow(index){
			let temp = [];
			temp = this.currentMingxi.slice(0);
			temp.splice(index, 1);
			this.currentMingxi = temp;
		},
		// 创建新的行规则
		newGuize() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		addrow1(){
			let temp = [];
			temp = this.currentMingxi1.slice(0);
			temp.push(this.newGuize1());
			this.currentMingxi1 = temp;
		},
		delrow1(index){
			let temp = [];
			temp = this.currentMingxi1.slice(0);
			temp.splice(index, 1);
			this.currentMingxi1 = temp;
		},
		// 创建新的行规则
		newGuize1() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		addrow2(){
			let temp = [];
			temp = this.currentMingxi2.slice(0);
			temp.push(this.newGuize2());
			this.currentMingxi2 = temp;
		},
		delrow2(index){
			let temp = [];
			temp = this.currentMingxi2.slice(0);
			temp.splice(index, 1);
			this.currentMingxi2 = temp;
		},
		// 创建新的行规则
		newGuize2() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		switchChange(checked){

		},
		switchChange2(checked){

		},
		sYarnchange(value){

		},
		eYarnchange(value){

		},
		headPortraitcb(bool){
			console.log(bool, '------')
			this.headPortrait=bool
		},
		// 上传图像回调1-资料
		handleClicks () {
			console.log('啥东西')
	      //do something
		},
		// 上传图像回调2-资料
    	imglists(data){
    		console.log('图片列表22：',data)
    	},
		// 上传图像回调1-头像
		handleClick () {
			console.log('啥东西')
	      //do something
		},
		// 上传图像回调2-头像
    	imglist(data){
    		console.log('图片列表：',data)
    	},
		handleMenuClick(e) {
			console.log('click', e);
			if(e.key=="cancel"){
				this.itemdetailflag=false;
				this.detailflag=false;
			}
			if(e.key=='edit'){
				this.itemdetailflag=true
			}
		},
	  	// save
		save(){
			console.log(this.currentMingxi, '-------')
		},
		// 弹窗关闭
		cancel(){
			console.log('111')
            this.$emit('detailcancel',false)
			// this.createFlag=false
		},
		// 创建
		createItem(){
			if(this.detailflag){ // 有修改内容
				this.visible=true;
			}else{
				this.createFlag=true
			}
			// this.createFlag=true
		},
		
		// 分页回调
		onChange(pageNumber) {
			console.log('Page: ', pageNumber);
		},
		// 分页
		pagesizechange (page, pageSize) {
			this.page = page
			this.limit = pageSize
			this.getdata()
		},
		// 获取列表
		getdata () {
			listUser({
				key: this.key,
				page: this.page,
				limit: this.limit,
				is_enabled: this.statustype
			}).then((res) => {
				if (res.code === 0) {
				this.pageTotal = res.data.total
				this.listdata = res.data.items
				} else {
				this.listdata = []
				}
			}).catch(err => {
				this.requestFailed(err)
			})
		},
		requestFailed (err) {
		this.$message.error('请求出现错误，请稍后再试')
		}
  	}
}
</script>

<style lang="less" >
.inp_file{
    width:80px;
}
.forms_d{
    padding:15px;
    .doctorinfo{
        width:100%;
        overflow: hidden;
        margin-bottom:20px;
        .lefts{
            width:215px;
            float:left;
            display:inline-block;
        }
        .centers{
            width:215px;
            float:left;
            margin-left:0;
            display:inline-block;
        }
        .rights{
            width:80px;
            float:left;
            margin-left:10px;
            text-align:center;
            display:inline-block;
            .head{
                display:inline-block;
                width:50px;
                height:50px;
                margin-bottom:16px;
                margin-top:16px;
                text-align: center;
                vertical-align: middle;
                .user-add{
                    font-size:50px;
                }
            }
        }
    }
    .Specialty{
        width:100%;
        height:48px;
        border-radius:8px;
        border:1px solid #ccc;
        margin-bottom:20px;
        .tagsmodal{
            float:right;
            background:#eae9ff;
            margin-right:10px;
            color:#998bf4;
            border:none;
            border-radius:20px;
            margin-top:6px;
        }
    }
    .Professional{
        margin-bottom:20px;
        .tables{
            border-radius:5px;
            border:1px solid #ccc;
            overflow: hidden;
            .tables-head{
                width:100%;
                background:#f7f7f7;
                overflow: hidden;
                margin:0;
                .tables-head-sp{
                    display:inline-block;
                    text-align: center;
                    border-right:1px solid #eee;
                    color:#333;
                }
                .sp{
                    width:20%
                }
                .sp1{
                    width:9.09%;
                    height:90px;
                    white-space:normal;
                    word-break: break-all;
                    vertical-align: center;
                    display: table-cell;
                    vertical-align:middle
                }
                .sp2{
                    width:25%;
                    white-space:normal;
                }
            }
            .add-row{
                margin:0;
                text-align:center;
                color:#8674f0;
                .add-row-sp{
                    cursor: pointer;
                }
            }
            .tables-body{
                margin:0;
                .tables-head-sp{
                    display:inline-block;
                    height:26px;
                    text-align:center;
                    cursor: pointer;
                    border:1px solid #ccc;
                    padding:0px 2px;
                    .ant-input{
                        height:20px;
                    }
                }
                .sp{
                    width:20%
                }
                .sp1{
                    width:9.09%
                }
                .sp2{
                    width:25%
                }
            }
        }
    }
    .ClinicInfo{
        width:100%;
        overflow: hidden;
        .lefts{
            width:250px;
            float:left;
            display:inline-block;
        }
        .centers{
            width:250px;
            float:left;
            margin-left:0;
            display:inline-block;
        }
        
    }
    .Introduction{
        margin-bottom:20px;
    }
    .Gallery{
        width:100%;
        height:190px;
        border:1px solid #ccc;
        padding:13px;
        border-radius:5px;
        margin-bottom:20px;
        position:relative;
        
        .info-item{
            .btn{
                position:absolute;
                right:0;
                top:-30px;
            }
        }
        .imgbox{
            display:flex;
                white-space:nowrap;
                overflow-x:auto;
                overflow-y:hidden;
            .img_lists{
                width:120px;
                height:160px;
                border:1px solid #ccc;
                border-radius:8px;
                margin-right:10px;
                position:relative;
                flex-direction: column;
                .imgs{
                    display:inline-block;
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    margin:auto;
                    width:118px;
                }
                .del_icon{
                    color:#333;
                    position:absolute;
                    top:0;
                    right:0;
                }
            }
        }
    }
    .Appointment{
        width:100%;
        .row{
            .labels{
                margin-right:10px;
            }
		}
		.date{
			display:flex;
			margin-bottom:20px;
			.time{
				width:290px;
				padding:15px 10px;
				border:1px solid #ccc;
				margin-left:10px;
				border-radius:5px;
				position:relative;
				.add{
					background:#eae9ff;
					cursor: pointer;
					color:#8573f1;
					padding:2px 8px;
					border-radius:10px;
					position:absolute;
					bottom:10px;
					right:10px;
				}
				.timeslot{
					display:inline-block;
					border:1px solid #ccc;
					margin:0 2px 5px;
					padding:4px;
					border-radius:5px;
					.deltimeslot{
						cursor: pointer;
					}
				}
			}
		}
	}
	.biobox{
		margin-bottom:20px;
	}
}
</style>
