<template>
  <div class="content">
    <div class='search'>
		<div class='inputbox'>
			<a-input />
		</div>
		<div class='btns'>
			<a-button >Search</a-button>
			<!-- <tagsmodal :flag='false'></tagsmodal> -->
			<a-button @click='createItem' >Create</a-button>
		</div>
	</div>
	<div class='box' :class="detailflag? 'detailbox':''">
		<div class='wy-form ' :class="detailflag ? 'left': ''">
			<a-table :columns="columns" :dataSource="data" :pagination="false" :customRow="handleClickRow">
				<span slot="tags" slot-scope="tags">
					<a-tag
						v-for="tag in tags"
						:color="tag==='loser' ? 'volcano' : (tag.length > 5 ? 'geekblue' : 'green')"
						:key="tag"
					>
						{{tag.toUpperCase()}}
					</a-tag>
				</span>
			</a-table>
			<a-pagination showQuickJumper  :defaultCurrent="2" :total="500" @change="onChange" :showTotal="(total, range) => `, ${total} entries`" />
		</div>
		<div class='wy-rights right' :class="detailflag ? 'rightdetail': ''">
			<p class='title'>
				<span class='text'>
					Doctor&Clinic Info
				</span>
				<span class='dropdown wy-dropdown' >
					<a-dropdown-button >
						<a-menu slot="overlay" @click="handleMenuClick">
							<a-menu-item key="edit"><a-icon type="edit" />edit</a-menu-item>
							<a-menu-item key="delete"><a-icon type="delete" />delete</a-menu-item>
							<a-menu-item key="cancel"><a-icon type="rollback" />cancel</a-menu-item>
						</a-menu>
					</a-dropdown-button>
				</span>
			</p>
			<detail :itemdetailflag="itemdetailflag" @detailcancel="detailcancel"></detail>
		</div>
	</div>
      
    <a-modal
		class='wy-modals modals'
		title="Create New Admin"
		:visible="createFlag"
		:width="800"
		:footer="false"
	>
		<create @cancelcolose="cancelcolose"></create>
	</a-modal>
	<a-modal
			title="Title"
			:visible="visible"
			@ok="handleOk"
			@cancel="handleCancel"
		>
			<p>Confirm the new content and discard the modification. Please click OK</p>
		</a-modal>
  </div>
</template>
<script>

import { listUser, enabled, delPhone } from '@/api/system'
import WyImgCrop from '../../components/imgcrop/WyImgCrop'
import ImgCropd from '../../components/imgcropd/WyImgCropd'
// import tagsmodal from './tagsmodal.vue'
import create from './create.vue'
import detail from './detail.vue'
// import adduser from './addUser.vue'
// import modifyuser from './modifyUser.vue'
export default {
	name: 'Rule',
	components: {
		WyImgCrop,
		ImgCropd,
		// tagsmodal,
		create,
		detail,
	},
	data () {
		return {
			form: this.$form.createForm(this, { name: 'doctor' }),
			form1: this.$form.createForm(this, { name: 'clinic' }),
			columns : [
					{
						title: 'Doctor Name',
						dataIndex: 'doctorName',
						key: 'doctorName',
					},
					{
						title: 'Clinic Name',
						dataIndex: 'Clinic Name',
						key: 'Clinic Name',
					},
					{
						title: 'Enrolled At',
						key: 'Enrolled At',
						dataIndex: 'Enrolled At',
					},
					{
						title: 'Modified At',
						key: 'Modified At',
						dataIndex: 'Modified At',
					},
			],
			data: [{
				doctorName:'张困'
			},{
				doctorName:'李四'
			}],
			pageTotal: 0,
			page: 1,
			limit: 10,
			createFlag:false,
			detailflag:false,
			itemdetailflag:false, // 查看 // 编辑
			headPortrait:true, // 头像
			sYarn:0,
			eYarn:0,
			state:['Alaska','Arizona','Arkansas','California','Colorado','Columbia', 'Connecticut', 'Delaware', 'Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa', 'Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi', 'Missour', 'Montana','Nebraska','Nevada','New Hampshire','New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota','Ohio','Oklahoma','Oregon', 'Pennsyivania','Rhode Island','South Carolina', 'South Dakota','Tennessee,Texas', 'Utah','Vermont','Virgina','Washington','West Virginia','Wisconsin', 'Wyoming'],
			currentMingxi:[], // 添加行-数据
			currentMingxi1:[], // 添加行-数据
			currentMingxi2:[], // 添加行-数据
			visible:false,
		}
	},
	computed: {},
	watch: {},
	created () {
		// this.getdata()
	},
	mounted () {},
	methods: {
		detailcancel(bool){
			this.detailflag=bool;
		},
		handleCancel(){
			this.visible=false
		},
		handleOk(){
			this.closedetail()
			this.visible=false
			this.createFlag=true
			// this.addadminFlag=true
		},
		// 关闭详情
		closedetail(){
			this.itemdetailflag=false
			this.detailflag=false
		},
		addrow(){
			let temp = [];
			temp = this.currentMingxi.slice(0);
			temp.push(this.newGuize());
			this.currentMingxi = temp;
		},
		delrow(index){
			let temp = [];
			temp = this.currentMingxi.slice(0);
			temp.splice(index, 1);
			this.currentMingxi = temp;
		},
		// 创建新的行规则
		newGuize() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		addrow1(){
			let temp = [];
			temp = this.currentMingxi1.slice(0);
			temp.push(this.newGuize1());
			this.currentMingxi1 = temp;
		},
		delrow1(index){
			let temp = [];
			temp = this.currentMingxi1.slice(0);
			temp.splice(index, 1);
			this.currentMingxi1 = temp;
		},
		// 创建新的行规则
		newGuize1() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		addrow2(){
			let temp = [];
			temp = this.currentMingxi2.slice(0);
			temp.push(this.newGuize2());
			this.currentMingxi2 = temp;
		},
		delrow2(index){
			let temp = [];
			temp = this.currentMingxi2.slice(0);
			temp.splice(index, 1);
			this.currentMingxi2 = temp;
		},
		// 创建新的行规则
		newGuize2() {
			return {
				age35: 0,      
				age35_37: 0,      
				age38_40: 0,        
				age40: 0,        
			};       
		},
		switchChange(checked){

		},
		switchChange2(checked){

		},
		sYarnchange(value){

		},
		eYarnchange(value){

		},
		headPortraitcb(bool){
			console.log(bool, '------')
			this.headPortrait=bool
		},
		// 上传图像回调1-资料
		handleClicks () {
			console.log('啥东西')
	      //do something
		},
		// 上传图像回调2-资料
    	imglists(data){
    		console.log('图片列表22：',data)
    	},
		// 上传图像回调1-头像
		handleClick () {
			console.log('啥东西')
	      //do something
		},
		// 上传图像回调2-头像
    	imglist(data){
    		console.log('图片列表：',data)
    	},
		handleMenuClick(e) {
			console.log('click', e);
			if(e.key=="cancel"){
				this.itemdetailflag=false;
				this.detailflag=false;
			}
			if(e.key=='edit'){
				this.itemdetailflag=true
			}
		},
	  
		// 弹窗关闭
		cancelcolose(bool){
			console.log(bool)
			this.createFlag=bool
		},
		// 创建
		createItem(){
			if(this.detailflag){ // 有修改内容
				this.visible=true;
			}else{
				this.createFlag=true
			}
			// this.createFlag=true
		},
		// 列表行点击
		handleClickRow(record, index){
			return {
				on: {
					click: () => {
						this.detailflag=true;
						console.log( record)
						console.log('序号索引index' + index)
					}
				}
			}
		},
		// 分页回调
		onChange(pageNumber) {
			console.log('Page: ', pageNumber);
		},
		// 分页
		pagesizechange (page, pageSize) {
			this.page = page
			this.limit = pageSize
			this.getdata()
		},
		// 获取列表
		getdata () {
			listUser({
				key: this.key,
				page: this.page,
				limit: this.limit,
				is_enabled: this.statustype
			}).then((res) => {
				if (res.code === 0) {
				this.pageTotal = res.data.total
				this.listdata = res.data.items
				} else {
				this.listdata = []
				}
			}).catch(err => {
				this.requestFailed(err)
			})
		},
		requestFailed (err) {
		this.$message.error('请求出现错误，请稍后再试')
		}
  	}
}
</script>

<style lang="less" >
.content {
  	width: 100%;
	height:100%;
	padding:15px;
	overflow:hidden;
	.search{
		width:100%;
		display:flex;
		margin-bottom:16px;
		.btns{
			display:inline;
			.ant-btn{
				margin-left:15px;
				border:none;
				background-image: linear-gradient(to right, #968bf2, #7562db);
				color:#fff;
			}
		}
		.inputbox{
			flex:1;
		}
	}
	.box{
		.right{
			display:none;
		}
	}
	.detailbox{
		width:100%;
		height:100%;
		display:flex;
		.left{
			flex:1;
		}
		.right{
			height:100%;
			overflow-y:auto;
		}
		.rightdetail{
			display:block;
			background:#fff;
			width:550px;
			height:100%;
			border-radius:5px;
			margin-left:15px;
			.title{
				background:#f7f7f7;
				padding:10px;
				margin:0;
				overflow:hidden;
				.text{
					font-size:16px;
					color:#333;
				}
				.dropdown{
					float:right;
				}
			}
			.tabs{
				padding:2px 8px;
				border:1px solid #ccc;
				border-radius:20px;
				margin-right:8px;
			}
		}
	}
}
.modals{
	white-space:nowrap;
	overflow-x:hidden;
	overflow-y:hidden;
}

</style>
