<template>
    <a-popover trigger="click" placement="bottom">
        <a-input-search
            placeholder="input search text"
            @search="onSearch"
            slot="content"
            class="ipnutSearch"
        />
        <div
            class="tags"
            slot="content"
            style="width: 215px;display: flex;flex-wrap: wrap;"
        >
			<span></span>
            <a-tag v-for="(item,index) in taglist" :key="index" :color="item.color" @click='tagclick(item)'>{{item.name}}</a-tag>
           
        </div>
        <a-button type=""><a-icon type="plus-circle" v-if="flag" /> Tags</a-button>
    </a-popover>
</template>
<script>

export default {
	name: 'Rule',
	components: {
	},
	props:["flag"],
	data () {
		return {
			form: this.$form.createForm(this, { name: 'coordinated' }),
			taglist:[
				{
					name:'病人',
					color:'pink'
				},{
					name:'医生',
					color:'red'
				},{
					name:'主任',
					color:'blue'
				},
			],
			
			createFlag:false,
			detailflag:false,
			itemdetailflag:false,
			headPortrait:true, // 头像
		}
	},
	computed: {},
	watch: {},
	created () {
		// this.getdata()
	},
	mounted () {},
	methods: {
		tagclick(data){

			this.$emit('tagcb', data)
		},
        onSearch(data){
            console.log(data)
        },
		handleMenuClick(e) {
			console.log('click', e);
			if(e.key=="cancel"){
				this.detailflag=false;
			}
			if(e.key=='edit'){
				this.itemdetailflag=true
			}
		},
	  	// save
		save(){

		},
		// 弹窗关闭
		cancel(){
			this.addadminFlag=false
		},
		// 创建
		createItem(){
			this.createFlag=true
		},
		// 列表行点击
		handleClickRow(record, index){
			return {
				on: {
					click: () => {
						this.detailflag=true;
						console.log( record)
						console.log('序号索引index' + index)
					}
				}
			}
		},
		// 分页回调
		onChange(pageNumber) {
			console.log('Page: ', pageNumber);
		},
		// 分页
		pagesizechange (page, pageSize) {
			this.page = page
			this.limit = pageSize
			this.getdata()
		},
		// 获取列表
		getdata () {
			listUser({
				key: this.key,
				page: this.page,
				limit: this.limit,
				is_enabled: this.statustype
			}).then((res) => {
				if (res.code === 0) {
				this.pageTotal = res.data.total
				this.listdata = res.data.items
				} else {
				this.listdata = []
				}
			}).catch(err => {
				this.requestFailed(err)
			})
		},
		requestFailed (err) {
		this.$message.error('请求出现错误，请稍后再试')
		}
  	}
}
</script>

<style lang="less" scoped>
.ant-input-search{
    margin-bottom:10px;
}
.ant-tag{
    margin-bottom:8px;
}


</style>
