<template>
	<div class="content">
        <ul class='tags-ul'>
            <li class='tags-li' @click='tagsclick(1)' :class="selected=='upcomeing'? 'selected': ''">
                Upcoming Appointment
            </li>
            <li class='tags-li' @click='tagsclick(2)' :class="selected=='pending'? 'selected': ''">
                <a-badge count="0" showZero>
                    <span>
                        Pending Appointment
                    </span>
                </a-badge>
            </li>
            <li class='tags-li' @click='tagsclick(3)' :class="selected=='past'? 'selected': ''">
                Past Appointment
            </li>
        </ul>
		<div class='searchs'>
            <div class='search-input'>
                <div class='inputbox'>
                    <a-input />
                </div>
                <div class='btns'>
                    <a-button @click='search'>Search</a-button>
                    <a-button >Reset</a-button>
                </div>
            </div>
            <div class='fillters'>
                <p class='item' v-if="selected=='past'">
                    <span class='label'>Status</span>
                    <span>
                        <a-select  style="width: 120px" @change="statuschange">
                            <a-select-option value="complete">complete</a-select-option>
                            <a-select-option value="canceled">canceled</a-select-option>
                        </a-select>
                    </span>
                </p>
                <p class='item'>
                    <span class='label'>Date</span>
                    <span>
                        <a-select  style="width: 120px" @change="datechange">
                            <a-select-option value="3">< 3days</a-select-option>
                            <a-select-option value="5">< 5days</a-select-option>
                            
                            <a-select-option value="10">< 10days</a-select-option>
                        </a-select>
                    </span>
                </p>
                <p class='item'>
                    <span class='label'>Time</span>
                    <span><a-time-picker format="HH:mm" :minuteStep="15" @change="stimechange"  /></span> To 
                    <span><a-time-picker format="HH:mm" :minuteStep="15" @change="etimechange"   /></span>
                </p>
            </div>
		</div>
		<div class='box' :class="detailflag? 'detailbox':''">
			<div class='wy-form ' :class="detailflag ? 'left': ''">
				<a-table :columns="columns" :dataSource="data" :pagination="false" :customRow="handleClickRow">
				</a-table>
				<a-pagination showQuickJumper  :defaultCurrent="2" :total="500" @change="onChange" :showTotal="(total, range) => `, ${total} entries`" />
			</div>
			<div class='wy-right right' :class="detailflag ? 'rightdetail': ''">
				<p class='title'>
					<span class='text'>
						Detail
					</span>
					<span class='dropdown wy-dropdown' >
						<a-dropdown-button >
							<a-menu slot="overlay" @click="handleMenuClick">
								
								<a-menu-item key="cancel"><a-icon type="rollback" />cancel</a-menu-item>
							</a-menu>
						</a-dropdown-button>
					</span>
				</p>
                <div class='details'>
                    <div class='appointment'>
                        <p class='wy-tit'>
                            Appointment Information
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Date & Time
                            </span>
                            <span>
                                20199-09-22 7:00A.M.
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Doctor/Clinic
                            </span>
                            <span>
                                Pete hanger
                            </span>
                        </p>
                        <p class='rows' v-if="selected=='past'">
                            <span class='label'>
                                Status
                            </span>
                            <span>
                                <span class='btn Complete'><a-icon type="check-circle" /> Complete</span>
                                <span class='btn Canceled'><a-icon type="close-circle" /> Canceled</span>
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Notes
                            </span>
                            <span>
                                20199-09-22 7:00A.M.
                            </span>
                        </p>
                    </div>
                    <div class='clientbasic'>
                        <p class='wy-tit'>
                            Client Basic Information
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                First Name
                            </span>
                            <span class='rspan'>
                                Anna
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Last Name
                            </span>
                            <span class='rspan'>
                                Sariya
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Date of Birth
                            </span>
                            <span class='rspan'>
                                10.25.1978
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Gender
                            </span>
                            <span class='rspan'>
                                Female
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Language
                            </span>
                            <span class='rspan'>
                                <span class='language '> ENG</span>
                                <span class='language '> CHN</span>
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Mobile
                            </span>
                            <span class='rspan'>
                                13479136379
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Email
                            </span>
                            <span class='rspan'>
                                13479136379@qq.com
                            </span>
                        </p>
                        <p class='rows'>
                            <span class='label'>
                                Address
                            </span>
                            <span class='rspan'>
                                香榭丽舍大街15号
                            </span>
                        </p>
                    </div>
                    <div class='clientMedicial'>
                        <p class='wy-tit'>
                            Client Medicial
                        </p>
                        <ul class='imglist'>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img1.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img1.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class='insuranceinformation'>
                        <p class='wy-tit'>
                            Insurance Information
                        </p>
                        <ul class='imglist'>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img1.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                            <li class='img-item'>
                                <div class='imgs'>
                                    <img src='./img1.jpeg' alt="">
                                </div>
                                <p class='text'>
                                    <span>图片名称</span>
                                    <span>图片上传时间</span>
                                    
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class='actions' v-if="selected=='pending' || selected=='upcomeing'">
                        <p class='wy-tit'>
                            Actions
                        </p>
                        <ul class='ul-btn' v-if="selected=='pending'">
                            <li class='li-btn li-b'>
                                <span>Cancel Appointment</span>
                            </li>
                            <li class='li-btn li-b'>
                                <span>Modify Time</span>
                            </li>
                            <li class='li-btn li-b'>
                                <span>Reassign Doctor</span>
                            </li>
                            <li class='li-btn li-g'>
                                <span>Approve Appointment</span>
                            </li>
                        </ul>
                        <ul class='ul-btn' v-if="selected=='upcomeing'">
                            <li class='li-btn li-b'>
                                <span>Cancel Appointment</span>
                            </li>
                            <li class='li-btn li-b'>
                                <span>Modify Time</span>
                            </li>
                            <li class='li-btn li-r'>
                                <span>Cancel Appointment</span>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</template>
<script>

import { listUser, enabled, delPhone } from '@/api/system'
import moment from 'moment'
export default {
  name: 'Rule',
  components: {  },
  data () {
    return {
		form: this.$form.createForm(this, { name: 'coordinated' }),
		addadminFlag:false,
        detailflag:false,
        columns:[],
        pendcolumns : [
			{
				title: 'Client Name',
				dataIndex: 'clientname',
				key: 'Client Name',
			},
			{
				title: 'Doctor Name',
				dataIndex: 'Doctor Name',
				key: 'Doctor Name',
			},
			{
				title: 'Date & Time',
				key: 'Date & Time',
				dataIndex: 'Date & Time',
			},
            {
				title: 'Note',
				key: 'Note',
				dataIndex: 'Note',
			},
		],
      	pastcolumns : [
			{
				title: 'Client Name',
				dataIndex: 'clientname',
				key: 'Client Name',
			},
			{
				title: 'Doctor Name',
				dataIndex: 'Doctor Name',
				key: 'Doctor Name',
			},
			{
				title: 'Date & Time',
				key: 'Date & Time',
				dataIndex: 'Date & Time',
			},
			{
				title: 'Status',
				key: 'Status',
				dataIndex: 'Status',
            },
            {
				title: 'Note',
				key: 'Note',
				dataIndex: 'Note',
			},
		],
		data: [{
			firstname:'张困'
		},{
			firstname:'李四'
		}],
		pageTotal: 0,
		page: 1,
		limit: 10,
		itemdetail:{
			tags:["abc","def"]
		},
		itemdetailflag:false,
        visible:false,
        selected:'upcomeing',
        status:'',
        date:'',
        stime:'',
        etime:'',
    }
  },
  computed: {},
  watch: {},
  created () {
      this.columns=this.pendcolumns;
    // this.getdata()
  },
  mounted () {},
  methods: {
    stimechange(value){
        this.stime=moment(value._d).format('HH:mm')
    },
    etimechange(value){
        this.etime=moment(value._d).format('HH:mm')
    },
    statuschange(value){
        this.status=value
    },
      // 搜索
    search(){
        console.log(this.status)
         console.log(this.date)
          console.log(this.stime)
           console.log(this.etime)
    },
    // 日期选择框
    datechange(value){
        this.date=value
    },
      // 切换标签点击
    tagsclick(index){
        this.detailflag=false;
        if(index===1){
            this.columns=this.pendcolumns;
            this.selected='upcomeing'
        }else if(index===2){
            this.columns=this.pendcolumns;
            this.selected='pending'
        }else if(index===3){
            this.columns=this.pastcolumns;
            this.selected='past'
        }
    },

	handleCancel(){
		this.visible=false
	},
	handleOk(){
		this.closedetail()
		this.visible=false
		this.addadminFlag=true
	},
	  // 关闭详情
	closedetail(){
		this.itemdetailflag=false
		this.detailflag=false
	},
	  // 自定义验证
	handleConfirmBlur(e) {
		const value = e.target.value;
		this.confirmDirty = this.confirmDirty || !!value;
	},
	  compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
	  validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    },
	handleMenuClick(e) {
        this.itemdetailflag=false;
        this.detailflag=false;
	},
	// save
	save(){

	},
	// 弹窗关闭
	cancel(){
		this.addadminFlag=false
	},
	selectChange(){

	},
	// 创建admin
	addadmin(){
		console.log(this.detailflag, '------')
		if(this.detailflag){ // 有修改内容
			this.visible=true;
		}else{
			this.addadminFlag=true
		}
		// 
	},
	  // 列表行点击
	handleClickRow(record, index){
        return {
            on: {
				click: () => {
					this.detailflag=true;
					console.log( record)
					console.log('序号索引index' + index)
				}
            }
        }
    },
	// 分页回调
	onChange(pageNumber) {
		console.log('Page: ', pageNumber);
	},
   
    // 获取列表
    getdata () {
      listUser({
        key: this.key,
        page: this.page,
        limit: this.limit,
        is_enabled: this.statustype
      }).then((res) => {
        if (res.code === 0) {
          this.pageTotal = res.data.total
          this.listdata = res.data.items
        } else {
          this.listdata = []
        }
      }).catch(err => {
        this.requestFailed(err)
      })
    },
    
    requestFailed (err) {
      this.$message.error('请求出现错误，请稍后再试')
    }
  }
}
</script>
<style lang="less" scoped>
.content {
	width: 100%;
	height:100%;
	padding:15px;
    overflow:hidden;
    
    .tags-ul{
        width:100%;
        display:flex;
         overflow:hidden;
        background:#fff;
        border-radius:5px;
        height:40px;
        .tags-li{
            width:33%;
            flex:1;
            line-height:40px;
            text-align:center;
            cursor: pointer;
            span{
                display:inline-block;
                width:92%;

            }
        }
        .selected{
            color:#fff;
            border-radius:5px;
            background: #0068B5;/* 为较旧的或者不支持的浏览器设置备用属性 */
            background: -moz-linear-gradient(left, #7563dc 0%, #998ef4 100%);/**/
            background: -webkit-gradient(linear, left, right, color-stop(0%, #7563dc), color-stop(100%, #998ef4));/**/
            background: -webkit-linear-gradient(left, #7563dc 0%, #998ef4 100%);/**/
            background: -o-linear-gradient(left, #7563dc 0%, #998ef4 100%);/**/
            background: -ms-linear-gradient(left, #7563dc 0%, #998ef4 100%);/**/
            background: linear-gradient(to right, #7563dc 0%, #998ef4 100%);/*用线性渐变创建图像*/
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7563dc', endColorstr='#998ef4', GradientType=0);/* ie6 - ie8*/
        }
    }
	.searchs{
		width:100%;
        margin-bottom:16px;
        padding:20px 30px;
        background:#fff;
        border-radius:5px;
        .search-input{
            display:flex;
            .btns{
                display:inline;
                .ant-btn{
                    margin-left:15px;
                    border:none;
                    background-image: linear-gradient(to right, #968bf2, #7562db);
                    color:#fff;
                }
            }
            .inputbox{
                flex:1;
            }
        }
        .fillters{
            display:flex;
            margin-top:20px;
            .item{
                margin:0;
                margin-right:20px;
                
                .label{
                    margin-right:10px;
                }


            }
        }
		
	}
	.box{
		.right{
			display:none;
		}
	}
	.detailbox{
		width:100%;
		height:100%;
		display:flex;
		.left{
			flex:1;
		}
		.right{
			height:100%;
		}
		.rightdetail{
			display:block;
			background:#fff;
			width:500px;
			height:100%;
			border-radius:5px;
			overflow: hidden;
			margin-left:15px;
			.title{
				background:#f7f7f7;
				padding:10px;
				margin:0;
				overflow:hidden;
				.text{
					font-size:16px;
					color:#333;
				}
				.dropdown{
					float:right;
					
				}
            }
            .details{
                padding:15px;
                overflow: hidden;
                .rows{
                    width:100%;
                    margin-bottom:10px;
                    .label{
                        display:inline-block;
                        width:100px;
                        text-align:right;
                        margin-right:10px;
                    }
                    .btn{
                        display:inline-block;
                        width:95px;
                        padding:2px 6px;
                        border-radius:20px;
                        line-height:20px;
                    }
                    .Complete{
                        background:#d6f1ca;
                        color:#8ac45d;
                        margin-right:10px;
                    }
                    .Canceled{
                        background:#f7e9f6;
                        color:#f56d91;
                    }
                    .language{
                        padding:0 6px;
                        border-radius:20px;
                        border:1px solid #ccc;
                        margin-right:10px;
                    }
                }
                .clientbasic{
                    overflow: hidden;
                    .rows{
                        width:50%;
                        display:inline-block;
                        float:left;
                        overflow: hidden;
                        .label{
                            float:left;
                        }
                        .rspan{
                            display:inline-block;
                            width:125px;
                            word-wrap: break-word;
                            word-break: normal;
                        }
                    }
                }
                .imglist{
                    height:255px;
                    padding:10px;
                    border:1px solid #ccc;
                    border-radius:5px;
                    display:flex;
					white-space:nowrap;
					overflow-x:auto;
					overflow-y:hidden;
                    .img-item{
                        width:135px;
                        margin-right:10px;
                        .imgs{
                            width:135px;
                            height:175px;
                            border:1px solid #ccc;
                            overflow: hidden;
                            position:relative;
                            img{
                                width:100%;
                                display:inline-block;
                                position:absolute;
                                top:0;
                                left:0;
                                right:0;
                                bottom:0;
                                margin:auto;
                            }
                        }
                        .text{
                            text-align: center;
                            margin-top:5px;
                            span{
                                display:block;
                            }
                        }
                    }
                }
                .ul-btn{
                    width:100%;
                    padding:5px;
                    .li-btn{
                       display:inline-block;
                       padding:0 5px;
                       margin-bottom:10px;
                    }
                    .li-b,.li-g{
                        width:50%;
                        span{
                            display:inline-block;
                            width:100%;
                            line-height:36px;
                            border-radius:20px;
                            text-align:center;
                        }
                    }
                    .li-b{
                        span{
                            background:#eae9ff;
                            color:#8573f1;
                        }
                    }
                    .li-g{
                        span{
                            background:#d6f1ca;
                            color:#6dd327;
                        }
                    }
                    .li-r{
                        width:100%;
                        span{
                             background:#f7e9f6;
                            color:#f3547d;
                            display:inline-block;
                            width:100%;
                            line-height:36px;
                            border-radius:20px;
                            text-align:center;
                        }
                    }
                }
            }
		}
	}
}
</style>
