<template>
  <div class="main">
        <div class="context wy-login">
      <p class="logo">logo</p>
      <div class='forms'>
        <p class='input-item'>
          <span class='label'>
            <span class='text'>New Password</span>
          </span>
          <a-input placeholder="At leaset 8 characters" />
        </p>
        <p class='input-item'>
          <span class='label'>
            <span class='text'>Confirm Password</span>
          </span>
          <a-input-password placeholder="Enter Your Password again" />
        </p>
        <p class='resetpassword'>
          <span class='confirm' @click="confirm">
            Confirm
          </span>
          <span class='cancel' @click="cancel">
            Cancel
          </span>
        </p>
      </div>
    </div> 
  </div>
</template>

<script>
// import md5 from 'md5'
// import './login.less'
import TwoStepCaptcha from '@/components/tools/TwoStepCaptcha'
import { mapActions } from 'vuex'
// import { timeFix } from '@/utils/util'
import { getSmsCaptcha } from '@/api/login'
export default {
  components: {
    TwoStepCaptcha
  },

  data () {
    return {
      customActiveKey: 'tab1',
      loginBtn: false,
      // login type: 0 email, 1 username, 2 telephone
      loginType: 0,
      requiredTwoStepCaptcha: false,
      stepCaptchaVisible: false,
      form: this.$form.createForm(this),
      state: {
        time: 60,
        loginBtn: false,
        // login type: 0 email, 1 username, 2 telephone
        loginType: 0,
        smsSendBtn: false
      },
      appId: '2003866111',
      scope: 'snsapi_login',
      randstr: '',
      ticket: '',
      type: '1'
    }
  },
  created () {
    if (window.TencentCaptcha === undefined) {
      const script = document.createElement('script')
      const head = document.getElementsByTagName('head')[0]
      script.type = 'text/javascript'
      script.charset = 'UTF-8'
      script.src = 'https://ssl.captcha.qq.com/TCaptcha.js'
      head.appendChild(script)
    }
  },
  methods: {
    // tologin
    tologin(){
      console.log('jinru')
      // Access-Roles
      localStorage.setItem("Access-Roles", "['home']", 7 * 24 * 60 * 60 * 1000)
      this.$router.push({
        path:'/myDoctor'
      })
    },
    confirm(){
      this.$router.push({
        path:'/Login'
      })
    },
    cancel(){
      this.$router.push({
        path:'/Login'
      })
    },
    // onChange1
    onChange1(){

    },
    // Remember me
    onChange(){

    },
    logintype (e) {
      this.type = e
    },
   
    // 验证码回调
    verifycb (res) {
      if (res.ret === 0) {
        alert(res.ticket) // 票据
      }
    },
    // tologin () {
    //   if (this.type === '1') {
    //     this.toCaptcha()
    //   } else {
    //     this.msglogin()
    //   }
    // },
    msglogin () {
      const {
        state,
        Login
      } = this
      this.form.validateFields((err, values) => {
        if (!err) {
          if (!values.phone) {
            this.$message.error('请输入手机号')
            return
          }
          const reg = /^1[3456789]\d{9}$/
          if (!reg.test(values.phone)) {
            this.$message.error('请输入正确的手机号')
            return
          }
          if (!values.vcode) {
            this.$message.error('请输入验证码')
            return
          }
          const loginParams = {}
          loginParams.phone = values.phone
          loginParams.vcode = values.vcode
          Login(loginParams).then((res) => {
            this.loginSuccess(res)
          }).catch(() => {
            state.loginBtn = false
          })
        }
      })
    },
    // 图形验证码
    toCaptcha () {
      const that = this
      var TencentCaptcha = window.TencentCaptcha
      var captcha1 = new TencentCaptcha(that.appId, (res) => {
        /* callback */
        if (res.ret === 0) {
          this.randstr = res.randstr
          this.ticket = res.ticket
          this.handleSubmit()
        }
      })
      captcha1.show() // 显示验证码
    },

    // handler
    handleUsernameOrEmail (rule, value, callback) {
      const { state } = this
      const regex = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/
      if (regex.test(value)) {
        state.loginType = 0
      } else {
        state.loginType = 1
      }
      callback()
    },
    handleTabClick (key) {
      this.customActiveKey = key
      // this.form.resetFields()
    },
    handleSubmit (e) {
      // e.preventDefault()
      const {
        form: { validateFields },
        state,
        customActiveKey,
        Login
      } = this

      state.loginBtn = true

      const validateFieldsKey = customActiveKey === 'tab1' ? ['username', 'password'] : ['mobile', 'captcha']

      validateFields(validateFieldsKey, { force: true }, (err, values) => {
        if (!err) {
          const loginParams = {}
          loginParams.phone = values.username
          loginParams.pwd = values.password
          loginParams.vcode = this.randstr
          loginParams.rand = this.ticket
          const reg = /^1[3456789]\d{9}$/
          if (!reg.test(values.username)) {
            this.$message.error('手机号码有误，请核实！')
            return
          }
          Login(loginParams)
            .then((res) => {
              this.loginSuccess(res)
            }).catch(() => {
              state.loginBtn = false
            })
        } else {
          setTimeout(() => {
            state.loginBtn = false
          }, 600)
        }
      })
    },
    getCaptcha (e) {
      e.preventDefault()
      const { state } = this
      this.form.validateFields((err, values) => {
        if (!err) {
          state.smsSendBtn = true
          const interval = window.setInterval(() => {
            if (state.time-- <= 0) {
              state.time = 60
              state.smsSendBtn = false
              window.clearInterval(interval)
            }
          }, 1000)
          if (!values.phone) {
            this.$message.error('请输入手机号')
            return
          }
          const reg = /^1[3456789]\d{9}$/
          if (!reg.test(values.phone)) {
            this.$message.error('请输入正确的手机号')
            return
          }
          getSmsCaptcha({ phone: values.phone }).then(res => {
            if (res.code === 0) {
              this.$message.success('验证码已发送,稍后请查看')
              // state.smsSendBtn = false
            } else {
              this.$message.error(res.message)
            }
          }).catch(() => {
            clearInterval(interval)
            state.time = 60
            state.smsSendBtn = false
          })
        }
      })
    },

    stepCaptchaSuccess () {
      this.loginSuccess()
    },
    stepCaptchaCancel () {
      this.Logout().then(() => {
        this.loginBtn = false
        this.stepCaptchaVisible = false
      })
    },
    loginSuccess (res) {
      if (res.code === 0) {
        this.$router.push({ path: '/home' })
      } else {
        this.$message.error(res.message)
      }
    }

  }
}
</script>

<style lang="less" scoped>
.context {
  width: 410px;
  //height: 480px;
  padding: 30px 45px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 6px 3px #ccc;
  .logo {
    font-size: 38px;
    line-height: 38px;
    margin: 0;
    color: #8472f0;
  }
  .forms {
    margin-top: 25px;
    overflow: hidden;
    .input-item {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      .label {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        .forget {
          cursor: pointer;
          color: #8472f0;
          float: right;
        }
      }
    }
    .checkbox {
      margin-bottom: 30px;
      font-size: 12px;
      .Agreement {
        cursor: pointer;
        color: #5d47d8;
      }
    }
    .tologin {
      width: 100%;
      height: 40px;
      background-image: linear-gradient(to right, #9994da, #5d47d8);
      border: none;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      color: #fff;
      border-radius: 50px;
      margin-bottom: 30px;
    }
    .signup {
      .tosign {
        color: #8472f0;
        cursor: pointer;
      }
    }
    .resetpassword {
      width: 100%;
      margin: 0;
      .confirm,
      .cancel {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        padding: 0 45px;
        font-size: 16px;
      }
      .confirm {
        color: #fff;
        background-image: linear-gradient(to right, #9994da, #5d47d8);
        cursor: pointer;
      }
      .cancel {
        color: #5d47d8;
        border: 1px solid #5d47d8;
        float: right;
        cursor: pointer;
      }
    }
  }
}
</style>
