<template>
	<div >
        <div class='forms'>
            <a-form :form="form">
                <a-form-item label="Firstname">
                    <a-input
                        v-decorator="['Firstname', { rules: [{ required: true, message: 'Please input your Firstname!' }] }]"
                    />
                </a-form-item>
                <a-form-item label="Lastname">
                    <a-input
                        v-decorator="['Lastname', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
                    />
                </a-form-item>
                <a-form-item label="E-mail">
                    <a-input
                        v-decorator="[ 'email', { rules: [ {
                                type: 'email',
                                message: 'The input is not valid E-mail!',
                            }, {
                                required: true,
                                message: 'Please input your E-mail!',
                            }],
                        }]"
                    />
                </a-form-item>
                <a-form-item  label="Password">
                    <a-input
                        v-decorator="[
                        'password',
                        {
                            rules: [
                            {
                                required: true,
                                message: 'Please input your password!',
                            },
                            {
                                validator: validateToNextPassword,
                            },
                            ],
                        },
                        ]"
                        type="password"
                    />
                </a-form-item>
                <a-form-item  label="Confirm Password">
                    <a-input
                        v-decorator="[
                        'confirm',
                        {
                            rules: [
                            {
                                required: true,
                                message: 'Please confirm your password!',
                            },
                            {
                                validator: compareToFirstPassword,
                            },
                            ],
                        },
                        ]"
                        type="password"
                        @blur="handleConfirmBlur"
                    />
                </a-form-item>
                <a-form-item  label="Permission">
                    <a-select
                        v-decorator="[
                        'select-multiple',
                        {
                            rules: [
                            { required: true, message: 'Please select your favourite colors!', type: 'array' },
                            ],
                        },
                        ]"
                        mode="multiple"
                        placeholder="Please select favourite colors"
                    >
                        <a-select-option value="admin">
                            admin
                        </a-select-option>
                        <a-select-option value="Supper Admin">
                            Supper Admin
                        </a-select-option>
                        
                    </a-select>
                </a-form-item>
                <a-form-item label="Note">
                    <a-textarea :rows="3"/>
                </a-form-item>
            </a-form>
        </div>
        <div class='wy-btns'>
            <span  class='save' @click='save'><a-icon type="check-circle" /> Save</span>
            <span  class='discard' @click='cancel'> <a-icon type="close-circle"  /> Discard</span>
        </div>
		
	</div>
</template>
<script>

import { listUser, enabled, delPhone } from '@/api/system'
export default {
  name: 'Rule',
  components: {  },
  data () {
    return {
		form: this.$form.createForm(this, { name: 'coordinated' }),
		addadminFlag:false,
		detailflag:false,
		itemdetail:{
			tags:["abc","def"]
		},
		itemdetailflag:false,
		visible:false,
    }
  },
  computed: {},
  watch: {},
  created () {
   
  },
  mounted () {},
  methods: {
	
	  // 自定义验证
	handleConfirmBlur(e) {
		const value = e.target.value;
		this.confirmDirty = this.confirmDirty || !!value;
	},
	  compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
	  validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    },
	// save
	save(){

	},
	// 弹窗关闭
	cancel(){
        this.$emit('cancelcolose',false)
		this.addadminFlag=false
	},
	selectChange(){

	},
    requestFailed (err) {
      this.$message.error('请求出现错误，请稍后再试')
    }
  }
}
</script>
<style lang="less" scoped>

</style>
