<template>
    <div >
        <p class='title'>
            <span class='text'>
                Admin Profile
            </span>
            <span class='dropdown wy-dropdown' >
                <a-dropdown-button >
                    <a-menu slot="overlay" @click="handleMenuClick">
                        <a-menu-item key="edit"><a-icon type="edit" />edit</a-menu-item>
                        <a-menu-item key="delete"><a-icon type="delete" />delete</a-menu-item>
                        <a-menu-item key="cancel"><a-icon type="rollback" />cancel</a-menu-item>
                    </a-menu>
                </a-dropdown-button>
            </span>
        </p>
        <div class='forms'>
            <a-form :form="form">
                <a-form-item label="Firstname">
                    <a-input v-if=" itemdetailflag"
                        v-decorator="['Firstname', { rules: [{ required: true, message: 'Please input your Firstname!' }] }]"
                    />
                    <span v-else>Firstname</span>
                </a-form-item>
                <a-form-item label="Lastname">
                    <a-input v-if="itemdetailflag"
                        v-decorator="['Lastname', { rules: [{ required: true, message: 'Please input your Lastname!' }] }]"
                    />
                    <span v-else>Firstname</span>
                </a-form-item>
                <a-form-item label="E-mail">
                    <a-input v-if="itemdetailflag"
                        v-decorator="[ 'email', { rules: [ {
                                type: 'email',
                                message: 'The input is not valid E-mail!',
                            }, {
                                required: true,
                                message: 'Please input your E-mail!',
                            }],
                        }]"
                    />
                    <span v-else>Firstname</span>
                </a-form-item>
                <a-form-item  label="Password">
                    <a-input v-if="itemdetailflag"
                        v-decorator="[
                        'password',
                        {
                            rules: [
                            {
                                required: true,
                                message: 'Please input your password!',
                            },
                            {
                                validator: validateToNextPassword,
                            },
                            ],
                        },
                        ]"
                        type="password"
                    />
                    <span v-else></span>
                </a-form-item>
                <a-form-item  label="Permission">
                    <a-select v-if="itemdetailflag"
                        v-decorator="[
                        'select-multiple',
                        {
                            rules: [
                            { required: true, message: 'Please select your favourite colors!', type: 'array' },
                            ],
                        },
                        ]"
                        mode="multiple"
                        placeholder="Please select favourite colors"
                    >
                        <a-select-option value="admin">
                            admin
                        </a-select-option>
                        <a-select-option value="Supper Admin">
                            Supper Admin
                        </a-select-option>
                        
                    </a-select>
                    <span v-else>
                        <span class='tabs' v-for="(item,index) in itemdetail.tags" :key="index">
                            {{item}}
                        </span>
                    </span>
                </a-form-item>
                <a-form-item label="Note">
                    <a-textarea v-if="itemdetailflag" :rows="3" class='textarea'/>
                    <span  v-else>Firstname</span>
                </a-form-item>
            </a-form>
            <div class='btns' v-if="itemdetailflag">
                <span  class='save' ><a-icon type="check-circle" /> Save</span>
                <span  class='discard' @click='closedetail'> <a-icon type="close-circle" /> Discard</span>
            </div>
        </div>
    </div>
</template>
<script>
import { listUser, enabled, delPhone } from '@/api/system'
export default {
  name: 'Rule',
  components: {  },
  props:['itemdetailflag'],
  data () {
    return {
		form: this.$form.createForm(this, { name: 'coordinated' }),
		addadminFlag:false,
		detailflag:false,
      	columns : [
			{
				title: 'First Name',
				dataIndex: 'firstname',
				key: 'First Name',
			},
			{
				title: 'Last Name',
				dataIndex: 'Last Name',
				key: 'Last Name',
			},
			{
			title: 'Permission',
				key: 'Permission',
				dataIndex: 'Permission',
				scopedSlots: { customRender: 'Permission' },
				tags: ['cool', 'teacher'],
			},
			{
				title: 'Email',
				key: 'Email',
				dataIndex: 'Email',
			},
			{
				title: 'Signed In',
				key: 'Signed In',
				dataIndex: 'Signed In',
			},
		],
		data: [{
			firstname:'张困'
		},{
			firstname:'李四'
		}],
		pageTotal: 0,
		page: 1,
		limit: 10,
		itemdetail:{
			tags:["abc","def"]
		},
	
		
    }
  },
  computed: {},
  watch: {},
  created () {
    // this.getdata()
  },
  mounted () {},
  methods: {
	handleCancel(){
		this.visible=false
	},
	  // 关闭详情
	closedetail(){
        console.log('0000000000')
        this.$emit('changedetail', false)
		// this.itemdetailflag=false
		// this.detailflag=false
	},
	  // 自定义验证
	handleConfirmBlur(e) {
		const value = e.target.value;
		this.confirmDirty = this.confirmDirty || !!value;
	},
	  compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
	  validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    },
	handleMenuClick(e) {
		console.log('click', e);
		if(e.key=="cancel"){
            this.$emit('closedetail', e.key,false)
			
		}
		if(e.key=='edit'){
            this.$emit('closedetail', e.key,true)
			
		}
	},
	// 弹窗关闭
	cancelcolose(bool){
		this.addadminFlag=bool
	},
	selectChange(){
	},
	
	
   
  
    requestFailed (err) {
      this.$message.error('请求出现错误，请稍后再试')
    }
  }
}
</script>
<style lang="less" scoped>
.title{
    background:#f7f7f7;
    padding:10px;
    margin:0;
    overflow:hidden;
    .text{
        font-size:16px;
        color:#333;
    }
    .dropdown{
        float:right;
        
    }
}
.forms{
    padding:15px;
    overflow: hidden;
    .btns{
        width:100%;
        text-align:center;
        margin-top:10px;
        .save,.discard{
            display:inline-block;
            width:80px;
            height:24px;
            border-radius:40px;
            cursor: pointer;
        }
        .save{
            margin-right:18px;
            background:#e9e7ff;
            color:#8674f0;
        }
        .discard{
            background:#f8e7f6;
            color:#f25a81;
        }
    }
    .tabs{
        padding:2px 8px;
        border:1px solid #ccc;
        border-radius:20px;
        margin-right:8px;
    }
}
</style>
