<template>
	<div class="content">
		<div class='search'>
			<div class='inputbox'>
				<a-input />
			</div>
			<div class='btns'>
				<a-button >Search</a-button>
				<a-button >Tags</a-button>
				<a-button @click='addadmin' >Create</a-button>
			</div>
		</div>
		<div class='box' :class="detailflag? 'detailbox':''">
			<div class='wy-form ' :class="detailflag ? 'left': ''">
				<a-table :columns="columns" :dataSource="data" :pagination="false" :customRow="handleClickRow">
					<span slot="tags" slot-scope="tags">
						<a-tag
							v-for="tag in tags"
							:color="tag==='loser' ? 'volcano' : (tag.length > 5 ? 'geekblue' : 'green')"
							:key="tag"
						>
							{{tag.toUpperCase()}}
						</a-tag>
					</span>
				</a-table>
				<a-pagination showQuickJumper  :defaultCurrent="2" :total="500" @change="onChange" :showTotal="(total, range) => `, ${total} entries`" />
			</div>
			<div class='wy-right right' :class="detailflag ? 'rightdetail': ''">
				<detail @closedetail="closedetail" :itemdetailflag='itemdetailflag' @changedetail='changedetail'></detail>
			</div>
		</div>
		<a-modal
			class='wy-modal'
			title="Create New Admin"
			:visible="addadminFlag"
			:width="800"
			:footer="false"
		>
			<create @cancelcolose="cancelcolose"></create>
		</a-modal>
		<a-modal
			title="Title"
			:visible="visible"
			@ok="handleOk"
			@cancel="handleCancel"
		>
			<p>Confirm the new content and discard the modification. Please click OK</p>
		</a-modal>
	</div>
</template>
<script>

import { listUser, enabled, delPhone } from '@/api/system'
import create from './create.vue'
import detail from './detail.vue'
export default {
  name: 'Rule',
  components: { create, detail },
  data () {
    return {
		form: this.$form.createForm(this, { name: 'coordinated' }),
		addadminFlag:false,
		detailflag:false,
      	columns : [
			{
				title: 'First Name',
				dataIndex: 'firstname',
				key: 'First Name',
			},
			{
				title: 'Last Name',
				dataIndex: 'Last Name',
				key: 'Last Name',
			},
			{
			title: 'Permission',
				key: 'Permission',
				dataIndex: 'Permission',
				scopedSlots: { customRender: 'Permission' },
				tags: ['cool', 'teacher'],
			},
			{
				title: 'Email',
				key: 'Email',
				dataIndex: 'Email',
			},
			{
				title: 'Signed In',
				key: 'Signed In',
				dataIndex: 'Signed In',
			},
		],
		data: [{
			firstname:'张困'
		},{
			firstname:'李四'
		}],
		pageTotal: 0,
		page: 1,
		limit: 10,
		itemdetail:{
			tags:["abc","def"]
		},
		itemdetailflag:false,
		visible:false,
    }
  },
  computed: {},
  watch: {},
  created () {
    // this.getdata()
  },
  mounted () {},
  methods: {
	handleCancel(){
		this.visible=false
	},
	handleOk(){
		this.closeright()
		this.visible=false
		this.addadminFlag=true
	},
	  // 关闭详情
	closeright(){
		this.itemdetailflag=false
		this.detailflag=false
	},
	  // 自定义验证
	handleConfirmBlur(e) {
		const value = e.target.value;
		this.confirmDirty = this.confirmDirty || !!value;
	},
	  compareToFirstPassword(rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
	  validateToNextPassword(rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
	},
	changedetail(bool){
		console.log(bool, '000000')
		this.itemdetailflag=bool
	},
	closedetail(key,bool) {
		if(key=="cancel"){
			this.itemdetailflag=bool;
			this.detailflag=bool;
		}
		if(key=='edit'){
			this.itemdetailflag=bool
		}
	},
	// 弹窗关闭
	cancelcolose(bool){
		this.addadminFlag=bool
	},
	selectChange(){
	},
	// 创建admin
	addadmin(){
		console.log(this.detailflag, '------')
		if(this.detailflag){ // 有修改内容
			this.visible=true;
		}else{
			this.addadminFlag=true
		}
		// 
	},
	  // 列表行点击
	handleClickRow(record, index){
        return {
            on: {
				click: () => {
					this.detailflag=true;
					console.log( record)
					console.log('序号索引index' + index)
				}
            }
        }
    },
	// 分页回调
	onChange(pageNumber) {
		console.log('Page: ', pageNumber);
	},
   
    // 获取列表
    getdata () {
      listUser({
        key: this.key,
        page: this.page,
        limit: this.limit,
        is_enabled: this.statustype
      }).then((res) => {
        if (res.code === 0) {
          this.pageTotal = res.data.total
          this.listdata = res.data.items
        } else {
          this.listdata = []
        }
      }).catch(err => {
        this.requestFailed(err)
      })
    },
    
    requestFailed (err) {
      this.$message.error('请求出现错误，请稍后再试')
    }
  }
}
</script>
<style lang="less" scoped>
.content {
	width: 100%;
	height:100%;
	padding:15px;
	overflow:hidden;
	.search{
		width:100%;
		display:flex;
		margin-bottom:16px;
		.btns{
			display:inline;
			.ant-btn{
				margin-left:15px;
				border:none;
				background-image: linear-gradient(to right, #968bf2, #7562db);
				color:#fff;
			}
		}
		.inputbox{
			flex:1;
		}
	}
	.box{
		.right{
			display:none;
		}
	}
	.detailbox{
		width:100%;
		height:100%;
		display:flex;
		.left{
			flex:1;
		}
		.right{
			height:100%;
		}
		.rightdetail{
			display:block;
			background:#fff;
			width:500px;
			height:100%;
			border-radius:5px;
			overflow: hidden;
			margin-left:15px;
		}
	}
}
</style>
