<template>
  <v-table
    is-horizontal-resize
    is-vertical-resize
    :vertical-resize-offset="15"
    :min-height="430"
    style="width:100%"
    :columns="columns"
    :table-data="tableData"
    row-hover-color="#eee"
    row-click-color="#edf7ff"
  ></v-table>
</template>

<script>
export default {
  data () {
    return {
      tableData: [
        { name: '赵伟1', tel: '156*****1987', hobby: '钢琴、书法、唱歌', address: '上海市黄浦区金陵东路569号17楼' },
        { name: '李伟1', tel: '182*****1538', hobby: '钢琴、书法、唱歌', address: '上海市奉贤区南桥镇立新路12号2楼' },
        { name: '孙伟1', tel: '161*****0097', hobby: '钢琴、书法、唱歌', address: '上海市崇明县城桥镇八一路739号' },
        { name: '周伟1', tel: '197*****1123', hobby: '钢琴、书法、唱歌', address: '上海市青浦区青浦镇章浜路24号' },
        { name: '吴伟1', tel: '183*****6678', hobby: '钢琴、书法、唱歌', address: '上海市松江区乐都西路867-871号' },
        { name: '赵伟2', tel: '156*****1987', hobby: '钢琴、书法、唱歌', address: '上海市黄浦区金陵东路569号17楼' },
        { name: '李伟2', tel: '182*****1538', hobby: '钢琴、书法、唱歌', address: '上海市奉贤区南桥镇立新路12号2楼' },
        { name: '孙伟2', tel: '161*****0097', hobby: '钢琴、书法、唱歌', address: '上海市崇明县城桥镇八一路739号' },
        { name: '周伟2', tel: '197*****1123', hobby: '钢琴、书法、唱歌', address: '上海市青浦区青浦镇章浜路24号' },
        { name: '吴伟2', tel: '183*****6678', hobby: '钢琴、书法、唱歌', address: '上海市松江区乐都西路867-871号' },
        { name: '赵伟3', tel: '156*****1987', hobby: '钢琴、书法、唱歌', address: '上海市黄浦区金陵东路569号17楼' },
        { name: '李伟3', tel: '182*****1538', hobby: '钢琴、书法、唱歌', address: '上海市奉贤区南桥镇立新路12号2楼' },
        { name: '孙伟3', tel: '161*****0097', hobby: '钢琴、书法、唱歌', address: '上海市崇明县城桥镇八一路739号' },
        { name: '周伟3', tel: '197*****1123', hobby: '钢琴、书法、唱歌', address: '上海市青浦区青浦镇章浜路24号' },
        { name: '吴伟3', tel: '183*****6678', hobby: '钢琴、书法、唱歌', address: '上海市松江区乐都西路867-871号' },
        { name: '赵伟4', tel: '156*****1987', hobby: '钢琴、书法、唱歌', address: '上海市黄浦区金陵东路569号17楼' },
        { name: '李伟4', tel: '182*****1538', hobby: '钢琴、书法、唱歌', address: '上海市奉贤区南桥镇立新路12号2楼' },
        { name: '孙伟4', tel: '161*****0097', hobby: '钢琴、书法、唱歌', address: '上海市崇明县城桥镇八一路739号' },
        { name: '周伟4', tel: '197*****1123', hobby: '钢琴、书法、唱歌', address: '上海市青浦区青浦镇章浜路24号' },
        { name: '吴伟4', tel: '183*****6678', hobby: '钢琴、书法、唱歌', address: '上海市松江区乐都西路867-871号' },
        { name: '赵伟5', tel: '156*****1987', hobby: '钢琴、书法、唱歌', address: '上海市黄浦区金陵东路569号17楼' },
        { name: '李伟5', tel: '182*****1538', hobby: '钢琴、书法、唱歌', address: '上海市奉贤区南桥镇立新路12号2楼' },
        { name: '孙伟5', tel: '161*****0097', hobby: '钢琴、书法、唱歌', address: '上海市崇明县城桥镇八一路739号' },
        { name: '周伟5', tel: '197*****1123', hobby: '钢琴、书法、唱歌', address: '上海市青浦区青浦镇章浜路24号' },
        { name: '吴伟5', tel: '183*****6678', hobby: '钢琴、书法、唱歌', address: '上海市松江区乐都西路867-871号' }
      ],
      columns: [
        { field: 'name', title: '姓名', width: 80, titleAlign: 'center', columnAlign: 'center', isResize: true },
        { field: 'tel', title: '手机号码', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
        { field: 'hobby', title: '爱好', width: 150, titleAlign: 'center', columnAlign: 'center', isResize: true },
        { field: 'address', title: '地址', width: 280, titleAlign: 'center', columnAlign: 'left', isResize: true }
      ]
    }
  }
}
</script>
