<template>
  <div class="logo">
    <router-link :to="{name:'index'}">
      <img src="@/assets/u14.jpg" alt="">
      <h1 >用户名</h1>
    </router-link>
  </div>
</template>
<script>

export default {
  name: 'Logo',
  components: {
  },
  props: {
    title: {
      type: String,
      default: '管理平台',
      required: false
    },
    showTitle: {
      type: Boolean,
      default: true,
      required: false
    }
  }
}
</script>
