<template>
  <div class="user-wrapper">
    <div class="content-box">
      <!-- <a href="https://pro.loacg.com/docs/getting-started" target="_blank">
        <span class="action">
          <a-icon type="question-circle-o"></a-icon>
        </span>
      </a>
       <notice-icon class="action"/> -->
      <span class="name" >{{ userinfo.name }},您好</span>
      <span @click="handleEdit" class="modify">修改密码</span>
      <span @click="handleLogout" class="layout"> <a-icon type="logout" style="marginRight:5px;"/>退出</span>
      <!-- <a-dropdown> -->
      <!-- <span class="action ant-dropdown-link user-dropdown-menu">
          <span class="avatar ant-avatar ant-avatar-sm ant-avatar-circle ant-avatar-image"><img :src="$store.getters.avatar || '@/assets/default.jpeg'"></span>
          <span>{{ userName }}</span>
        </span> -->
      <!-- <a-menu slot="overlay" class="user-dropdown-menu-wrapper">
          <a-menu-item key="0" @click="handleEdit"> -->
      <!-- <router-link :to="{ name: 'center' }"> -->
      <!-- <a-icon type="user"/>
              <span>修改密码</span> -->
      <!-- </router-link> -->
      <!-- </a-menu-item> -->
      <!-- <a-menu-item key="1">
            <router-link :to="{ name: 'settings' }">
              <a-icon type="setting"/>
              <span>账户设置</span>
            </router-link>
          </a-menu-item> -->
      <!-- <a-menu-divider/> -->
      <!-- <a-menu-item key="3">
            <a href="javascript:;" @click="handleLogout">
              <a-icon type="logout"/>
              <span>退出登录</span>
            </a>
          </a-menu-item>
        </a-menu> -->
      <!-- </a-dropdown> -->
    </div>
    <a-modal title="操作" style="top: 50px;" :width="600" v-model="visible" @ok="handleOk">
      <a-form>
        <a-form-item
          label="老密码"
          hasFeedback
        >
          <a-input type="password" onkeyup="this.value=this.value.replace(/^\s*|\s*$/g,'')" placeholder="老密码" v-model="mdl.oldPassword" />
        </a-form-item>
        <a-form-item
          label="新密码"
          hasFeedback
        >
          <a-input type="password" onkeyup="this.value=this.value.replace(/^\s*|\s*$/g,'')" placeholder="新密码" v-model="mdl.password" />
        </a-form-item>
        <a-form-item
          label="再次输入"
          hasFeedback
        >
          <a-input type="password" onkeyup="this.value=this.value.replace(/^\s*|\s*$/g,'')" placeholder="再次输入" v-model="mdl.surePassword" />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>

</template>

<script>
import NoticeIcon from '@/components/NoticeIcon'
import { mapActions } from 'vuex'

// import store from '@/store/'

import { userInfo } from '@/api/login'
export default {
  name: 'UserMenu',
  components: {
    NoticeIcon
  },
  data () {
    return {
      visible: false,
      userName: '',
      avatar: '',
      mdl: {},
      userinfo: {

      }
    }
  },
  created () {
    this.userName = userInfo()
    this.avatar = this.$store.getters.avatar || '@/assets/default.jpeg'
    this.userinfo = JSON.parse(window.localStorage.getItem('pro__Access-Info')).value
  },
  methods: {
    ...mapActions(['Logout']),
    // ...mapGetters(['name', 'avatar']),
    handleLogout () {
      const that = this
      this.$confirm({
        title: '提示',
        content: '真的要注销登录吗 ?',
        onOk () {
          return that.Logout({}).then((res) => {
            // if(res.code===0){
            //   that.$router.push({
            //     path:'/'
            //   })
            // }else{
            //   this.$message.error(res.message)
            // }

            window.location.reload()
          }).catch(err => {
            that.$message.error({
              title: '错误',
              description: err.message
            })
          })
        },
        onCancel () {
        }
      })
    },

    //
    handleEdit (data) {
      this.$router.push({
        path: '/modifypwd'
      })
      // this.isShow=data
      //   this.mdl = {
      //     oldPassword:this.oldPassword,
      //     password:this.password || true,
      //     surePassword: this.surePassword || true
      //   };
      // this.visible = true;
    },
    // 修改密码
    handleOk () {
      if (this.mdl.password === '' && this.mdl.oldPassword === '') {
        this.$message.error('密码不能为空')
        return
      }
      if (this.mdl.password !== this.mdl.surePassword) {
        this.$message.error('两次输入的密码不一致')
        return
      }
      const param = {}
      param.oldPassword = this.mdl.oldPassword
      param.newPassword = this.mdl.password

      this.visible = false
    }
  }
}
</script>
<style lang="less" scoped>
.content-box{
  span{
    cursor:pointer;
  }
  .modify{
    margin-right:15px;
  }
  .name{
    margin-right:15px;
  }
}
</style>
