<template>
      <div class="forms">
        <div class="basic">
          <p class="wy-form-title">
            Basic information
          </p>
          <a-form :form="form">
            <div class="doctorinfo">
              <div class="lefts">
                <a-form-item label="Firstname">
                  <a-input
                    v-decorator="[
                      'Firstname',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please input your Firstname!'
                          }
                        ]
                      }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="Lastname">
                  <a-input
                    v-decorator="[
                      'Lastname',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please input your Lastname!'
                          }
                        ]
                      }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="Birthday">
                  <a-input
                    v-decorator="[
                      'Birthday',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please input your Birthday!'
                          }
                        ]
                      }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="Language">
                  <a-select
                    v-decorator="[
                      'Language',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please select your favourite colors!',
                            type: 'array'
                          }
                        ]
                      }
                    ]"
                    mode="multiple"
                    placeholder="Please select favourite colors"
                  >
                    <a-select-option value="English">
                      English
                    </a-select-option>
                    <a-select-option value="Chinese">
                      Chinese
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </div>
              <div class="rights">
                <a-form-item label="Mobile">
                  <a-input
                    v-decorator="[
                      'Mobile',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please input your Lastname!'
                          }
                        ]
                      }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="E-mail">
                  <a-input
                    v-decorator="[
                      'email',
                      {
                        rules: [
                          {
                            type: 'email',
                            message: 'The input is not valid E-mail!'
                          },
                          {
                            required: true,
                            message: 'Please input your E-mail!'
                          }
                        ]
                      }
                    ]"
                  />
                </a-form-item>
                <a-form-item label="Gender">
                  <a-select
                    v-decorator="[
                      'Gender',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please select your gender!'
                          }
                        ]
                      }
                    ]"
                  >
                    <a-select-option value="man">
                      man
                    </a-select-option>
                    <a-select-option value="woman">
                      woman
                    </a-select-option>
                    <a-select-option value="secrecy">
                      secrecy
                    </a-select-option>
                  </a-select>
                </a-form-item>
                <a-form-item label="Role">
                  <a-select
                    v-decorator="[
                      'Role',
                      {
                        rules: [
                          {
                            required: true,
                            message: 'Please select your Role!'
                          }
                        ]
                      }
                    ]"
                  >
                    <a-select-option value="intended parents">
                      intended parents
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </div>
            </div>
          </a-form>
          <div class="bottom">
            <a-form-item label="Address">
              <a-textarea :rows="2" class="textAdd" />
            </a-form-item>
          </div>
          <div class="address">
            <a-input placeholder="City" class="city" />
            <a-select defaultValue="Option1">
              <a-select-option value="Option1">Option1</a-select-option>
              <a-select-option value="Option2">Option2</a-select-option>
            </a-select>
            <a-input placeholder="Zip code" class="zipCode" />
          </div>
        </div>
        <p class="wy-form-title">Medical & Insurance information</p>
        <div class="upload">
          <p class="wy-form-title-sub">Upload Document</p>
          <div class="photos">
            <wy-img-crop @imglist="imglist"></wy-img-crop>
          </div>
        </div>
        <div class="notes">
          <p class="wy-form-title">Notes</p>
          <a-textarea
            placeholder="Autosize height with minimum and maximum number of lines"
            :autosize="{ minRows: 2, maxRows: 6 }"
          />
        </div>
        <div class="addTags">
          <p class="wy-form-title">
            Tags
          </p>
          <div class="Specialty">
            <tagsmodal class="tagsmodal" :flag="true"></tagsmodal>
          </div>
        </div>
        <div class="addReminders">
          <p class="wy-form-title">
            Reminders
          </p>
          <div class="tables">
            <p class="tables-head">
              <span class="tables-head-sp">
                Date
              </span>
              <span class="tables-head-sp">
                Admin
              </span>
              <span class="tables-head-sp">
                Note
              </span>
              <span class="tables-head-sp">
                Delete
              </span>
            </p>
            <p
              v-for="(item, index) in currentMingxi"
              :key="index"
              class="tables-body"
            >
              <span class="tables-head-sp">
                <a-input v-model="item.date" />
              </span>
              <span class="tables-head-sp">
                <a-input v-model="item.admin" />
              </span>
              <span class="tables-head-sp">
                <a-input v-model="item.note" />
              </span>

              <span class="tables-head-sp" @click="delrow(index)">
                <a-icon type="delete" />
              </span>
            </p>
            <p class="add-row">
              <span class="add-row-sp" @click="addrow">
                + Add Date Entry
              </span>
            </p>
          </div>
        </div>
        <div class="btns">
          <span class="save" @click="save"
            ><a-icon type="check-circle" /> Save</span
          >
          <span class="discard" @click="cancel">
            <a-icon type="close-circle" /> Discard</span
          >
        </div>
      </div>
</template>
<script>
import WyImgCrop from "../../components/imgcrop/WyImgCrop";
import tagsmodal from "../clinicprofile/tagsmodal";
export default {
  name: "create",
  components: {
    tagsmodal,
    WyImgCrop
  },
  data() {
    return {
      currentMingxi: [],
      itemdetail: {
        tags: ["abc", "def"]
      },
      form: this.$form.createForm(this, { name: "coordinated" })
    };
  },
  computed: {},
  watch: {},
  created() {
    // this.getdata()
  },
  mounted() {},
  methods: {
    addrow() {
      let temp = [];
      temp = this.currentMingxi.slice(0);
      temp.push(this.newGuize());
      this.currentMingxi = temp;
     
    },
    delrow(index) {
      let temp = [];
      temp = this.currentMingxi.slice(0);
      temp.splice(index, 1);
      this.currentMingxi = temp;
    },
    // 创建新的行规则
    newGuize() {
      return {
        date: 0, //日期
        admin: 0, // 账户名
        note: 0 // 备注
      }; // 备注
    },
    onSearch(value) {
      console.log(value);
    },
    imglist(data) {
      console.log("图片列表：", data);
    },
    // 自定义验证
    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    
    // save
    save() {},
    // 弹窗关闭
    cancel() {
      this.$emit('cancel',false);
    
    },
    selectChange() {},
    requestFailed(err) {
      this.$message.error("请求出现错误，请稍后再试");
    }
  }
};
</script>
<style lang="less" scoped>
.forms {
  .basic {
    margin-bottom: 30px;
    .doctorinfo {
      .lefts,
      .rights {
        width: 360px;
        display: inline-block;
      }
    }
  }
  .address {
    display: flex;
    width: 564px;
    margin-left: 82px;
    justify-content: space-around;
    .city {
      width: 60%;
    }
    .zipCode {
      width: 18%;
    }
  }
  .upload {
    margin-top: 30px;
    .photos {
      width: 100%;
      height: 150px;
      border: 1px solid #ccc;
      padding: 13px;
      border-radius: 5px;
      margin-bottom: 20px;
      position: relative;
      .info-item {
        .btn {
          position: absolute;
          right: 0;
          top: -30px;
        }
      }
    }
  }
  .notes {
    margin-bottom: 20px;
  }
  .Specialty {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    .tagsmodal {
      float: right;
      background: #eae9ff;
      margin-right: 10px;
      color: #998bf4;
      border: none;
      border-radius: 20px;
      margin-top: 6px;
    }
  }
  .addReminders {
    margin-bottom: 20px;
    .tables {
      border-radius: 5px;
      border: 1px solid #ccc;
      overflow: hidden;
      .tables-head {
        width: 100%;
        height: 26px;
        background: #f7f7f7;
        margin: 0;
        .tables-head-sp {
          display: inline-block;
          width: 25%;
          line-height: 26px;
          text-align: center;
          border-right: 1px solid #eee;
          color: #333;
        }
      }
      .add-row {
        margin: 0;
        text-align: center;
        color: #8674f0;
        .add-row-sp {
          cursor: pointer;
        }
      }
      .tables-body {
        margin: 0;
        .tables-head-sp {
          display: inline-block;
          width: 25%;
          height: 26px;
          text-align: center;
          cursor: pointer;
          border: 1px solid #ccc;
          padding: 0px 2px;
          .ant-input {
            height: 20px;
          }
        }
      }
    }
  }
  .btns {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    .save,
    .discard {
      display: inline-block;
      width: 80px;
      height: 24px;
      border-radius: 40px;
      cursor: pointer;
    }
    .save {
      margin-right: 18px;
      background: #e9e7ff;
      color: #8674f0;
    }
    .discard {
      background: #f8e7f6;
      color: #f25a81;
    }
  }
  .tabs {
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 8px;
  }
}
</style>
