<template>
  <div class="content">
    <div class="search">
      <div class="inputbox">
        <a-input />
      </div>
      <div class="btns">
        <a-button>Search</a-button>
        <tagsmodal></tagsmodal>
        <a-button @click="addadmin">Create</a-button>
      </div>
    </div>
    <div class="box" :class="detailflag ? 'detailbox' : ''">
      <div class="wy-form " :class="detailflag ? 'left' : ''">
        <a-table
          :columns="columns"
          :dataSource="data"
          :pagination="false"
          :customRow="handleClickRow"
        >
          <span slot="tags" slot-scope="tags">
            <a-tag
              v-for="tag in tags"
              :color="
                tag === 'loser'
                  ? 'volcano'
                  : tag.length > 5
                  ? 'geekblue'
                  : 'green'
              "
              :key="tag"
            >
              {{ tag.toUpperCase() }}
            </a-tag>
          </span>
        </a-table>
        <a-pagination
          showQuickJumper
          :defaultCurrent="2"
          :total="500"
          @change="onChange"
          :showTotal="(total, range) => `, ${total} entries`"
        />
      </div>
      <Right
        v-if="detailflag"
        :class="detailflag ? 'rightdetail' : ''"
        @close="close"
      ></Right>
    </div>
    <a-modal
      class="wy-modals creatModal"
      title="Create New User"
      :width="800"
      :footer="false"
      :visible="addUserFlag"
    >
      <Create @cancel="cancel"></Create>
    </a-modal>
    <a-modal
      title="Title"
      :visible="visible"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <p>
        Confirm the new content and discard the modification. Please click OK
      </p>
    </a-modal>
  </div>
</template>
<script>
import { listUser, enabled, delPhone } from "@/api/system";
import Right from "./right";
import Create from "./create";
import tagsmodal from "../clinicprofile/tagsmodal";

export default {
  name: "Rule",
  components: {
    Right,
    Create,
    tagsmodal
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: "coordinated" }),
      addUserFlag: false,
      detailflag: false,
      columns: [
        {
          title: "Name",
          dataIndex: "Name",
          key: "Name"
        },
        {
          title: "Role",
          key: "Role",
          dataIndex: "Role"
        },
        {
          title: "Appointments",
          key: "Appointments",
          dataIndex: "Email"
        },
        {
          title: "Tags",
          key: "Tags",
          dataIndex: "Tags",
          scopedSlots: { customRender: "Tags" },
          tags: ["cool", "teacher"]
        }
      ],
      data: [
        {
          Name: "Array",
          Role: "intended parents"
        },
        {
          Name: "Function",
          Role: "intended parents"
        }
      ],
      pageTotal: 0,
      page: 1,
      limit: 10,
      itemdetail: {
        tags: ["abc", "def"]
      },
      itemdetailflag: false,
      visible: false
    };
  },
  computed: {},
  watch: {},
  created() {
    // this.getdata()
  },
  mounted() {},
  methods: {
    
    // 创建新的行规则
    onSearch(value) {
      console.log(value);
    },
    imglist(data) {
      console.log("图片列表：", data);
    },
    // 关闭详情
    close(str) {
      this.detailflag = str;
    },
    // 自定义验证
    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    handleMenuClick(e) {
      console.log("click", e);
      if (e.key == "cancel") {
        this.detailflag = false;
      }
      if (e.key == "edit") {
        this.itemdetailflag = true;
      }
    },
    // save
    save() {},
    // 弹窗关闭
    cancel(data) {
      this.addUserFlag = data;
    },

    selectChange() {},
    // 创建admin
    addadmin() {
      if (this.detailflag) {
        // 有修改内容
        this.visible = true;
      } else {
        this.addUserFlag = true;
      }
      // this.addUserFlag = true;
      // this.detailflag = false;
    },
    handleOk() {
      this.close();
      this.visible = false;
      this.addUserFlag = true;
    },
    handleCancel() {
      this.visible = false;
    },
    // 列表行点击
    handleClickRow(record, index) {
      return {
        on: {
          click: () => {
            this.detailflag = true;
            console.log(record);
            console.log("序号索引index" + index);
          }
        }
      };
    },
    // 分页回调
    onChange(pageNumber) {
      console.log("Page: ", pageNumber);
    },

    // 获取列表
    getdata() {
      listUser({
        key: this.key,
        page: this.page,
        limit: this.limit,
        is_enabled: this.statustype
      })
        .then(res => {
          if (res.code === 0) {
            this.pageTotal = res.data.total;
            this.listdata = res.data.items;
          } else {
            this.listdata = [];
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },

    requestFailed(err) {
      this.$message.error("请求出现错误，请稍后再试");
    }
  }
};
</script>
<style lang="less" scoped>
.creatModal {
  .ant-form-item-control-wrapper {
    width: 558px;
  }
}
.content {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  .search {
    width: 100%;
    display: flex;
    margin-bottom: 16px;

    .btns {
      display: inline;

      .ant-btn {
        margin-left: 15px;
        border: none;
        background-image: linear-gradient(to right, #968bf2, #7562db);
        color: #fff;
      }
    }
    .inputbox {
      flex: 1;
    }
  }
  .box {
    .right {
      display: none;
    }
  }
  .detailbox {
    width: 100%;
    display: flex;
    .left {
      flex: 55;
    }
    .right {
      height: 100%;
    }
  }
}
</style>
