<template>
  <div class="wy-right">
    <p class="title">
      <span class="text">
        User Information
      </span>
      <span class="dropdown wy-dropdown">
        <a-dropdown-button>
          <a-menu slot="overlay" @click="handleMenuClick">
            <a-menu-item key="edit"><a-icon type="edit" />edit</a-menu-item>
            <a-menu-item key="delete"
              ><a-icon type="delete" />delete</a-menu-item
            >
            <a-menu-item key="cancel"
              ><a-icon type="rollback" />cancel</a-menu-item
            >
          </a-menu>
        </a-dropdown-button>
      </span>
    </p>
    <div class="rightForms">
      <p class="wy-form-title">
        Basic information
      </p>
      <div class="toLeft">
        <a-form-item label="Firstname">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Firstname',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please input your Firstname!'
                  }
                ]
              }
            ]"
          />
          <span v-else>Firstname</span>
        </a-form-item>
        <a-form-item label="Lastname">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Lastname',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please input your Lastname!'
                  }
                ]
              }
            ]"
          />
          <span v-else>Firstname</span>
        </a-form-item>
        <a-form-item label="Birthday">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Birthday',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please input your Birthday!'
                  }
                ]
              }
            ]"
          />
          <span v-else>Birthday</span>
        </a-form-item>
        <a-form-item label="language">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'language',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please input your language!'
                  }
                ]
              }
            ]"
          />
          <span v-else>
            <a-tag>EN</a-tag>
            <a-tag>ZH</a-tag>
          </span>
        </a-form-item>
      </div>
      <div class="toRight">
        <a-form-item label="E-mail">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'email',
              {
                rules: [
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!'
                  },
                  {
                    required: true,
                    message: 'Please input your E-mail!'
                  }
                ]
              }
            ]"
          />
          <span v-else>email</span>
        </a-form-item>
        <a-form-item label="Moblie">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Moblie',
              {
                rules: [
                  {
                    type: 'Moblie',
                    message: 'The input is not valid Moblie!'
                  },
                  {
                    required: true,
                    message: 'Please input your Moblie!'
                  }
                ]
              }
            ]"
          />
          <span v-else>+1-112-2333-4444</span>
        </a-form-item>
        <a-form-item label="Gender">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Gender',
              {
                rules: [
                  {
                    type: 'Gender',
                    message: 'The input is not valid Moblie!'
                  },
                  {
                    required: true,
                    message: 'Please input your Gender!'
                  }
                ]
              }
            ]"
          />
          <span v-else>Man</span>
        </a-form-item>
        <a-form-item label="Role">
          <a-input
            v-if="itemdetailflag"
            v-decorator="[
              'Role',
              {
                rules: [
                  {
                    type: 'Role',
                    message: 'Please input your Role!'
                  },
                  {
                    required: true,
                    message: 'Please input your Role!'
                  }
                ]
              }
            ]"
          />
          <span v-else>inten parents</span>
        </a-form-item>
      </div>
      <p class="wy-form-title">Medical & Insurance information</p>
      <div class="rightUpload marginBottom">
        <p class="wy-form-title-sub">Upload Document</p>
        <div class="photos">
          <wy-img-crop @imglist="imglist"></wy-img-crop>
        </div>
      </div>
      <div class="marginBottom rightHistory">
        <p class="wy-form-title">Appointments History</p>
        <a-table
          :columns="History"
          :dataSource="Historydata"
          :pagination="false"
          bordered
        >
        </a-table>
      </div>
      <div class="rightNotes marginBottom">
        <p class="wy-form-title">Notes</p>
        <a-textarea
          placeholder="Autosize height with minimum and maximum number of lines"
          :autosize="{ minRows: 2, maxRows: 6 }"
        />
      </div>
      <div class="rightTags marginBottom">
        <p class="wy-form-title-sub">Tags</p>
        <div class="Specialty">
          <tagsmodal class="tagsmodal" :flag="true"></tagsmodal>
        </div>
      </div>
      <div class="rightReminders marginBottom">
        <p class="wy-form-title">
          Reminders
        </p>
        <div class="tables">
          <p class="tables-head">
            <span class="tables-head-sp">
              Date
            </span>
            <span class="tables-head-sp">
              Admin
            </span>
            <span class="tables-head-sp">
              Note
            </span>
            <span class="tables-head-sp">
              Delete
            </span>
          </p>
          <p
            v-for="(item, index) in currentMingxis"
            :key="index"
            class="tables-body"
          >
            <span class="tables-head-sp">
              <a-input v-model="item.date" />
            </span>
            <span class="tables-head-sp">
              <a-input v-model="item.admin" />
            </span>
            <span class="tables-head-sp">
              <a-input v-model="item.note" />
            </span>

            <span class="tables-head-sp" @click="delrow(index)">
              <a-icon type="delete" />
            </span>
          </p>
          <p class="add-row">
            <span class="add-row-sp" @click="addrow">
              + Add Date Entry
            </span>
          </p>
        </div>
      </div>

      <div class="btns">
        <span class="save"><a-icon type="check-circle" /> Save</span>
        <span class="discard" @click="close">
          <a-icon type="close-circle" @click="close" /> Discard</span
        >
      </div>
    </div>
  </div>
</template>
<script>
import WyImgCrop from "../../components/imgcrop/WyImgCrop";
import tagsmodal from "../clinicprofile/tagsmodal";
export default {
  name: "right",
  components: {
    tagsmodal,
    WyImgCrop
  },
  data() {
    return {
      currentMingxis: [],
      detailflag: flase,
      itemdetail: {
        tags: ["abc", "def"]
      },
      itemdetailflag: false,
      History: [
        {
          title: "Date",
          dataIndex: "Date",
          key: "Date"
        },
        {
          title: "Admin",
          dataIndex: "Admin",
          key: "Admin"
        },
        {
          title: "Note",
          dataIndex: "Note",
          key: "Note"
        },
        {
          title: "Delete",
          dataIndex: "Delete",
          key: "Delete"
        }
      ],
      Historydata: [
        {
          Date: "Add Reminders"
        }
      ]
    };
  },
  computed: {},
  watch: {},
  created() {
    // this.getdata()
  },
  mounted() {},
  methods: {
    addrow() {
      let temp = [];
      temp = this.currentMingxis.slice(0);
      temp.push(this.newGuizes());
      this.currentMingxis = temp;
    },
    delrow(index) {
      let temp = [];
      temp = this.currentMingxis.slice(0);
      temp.splice(index, 1);
      this.currentMingxis = temp;
    },
    // 创建新的行规则
    newGuizes() {
      return {
        date: 0, //日期
        admin: 0, // 账户名
        note: 0 // 备注
      }; // 备注
    },
    onSearch(value) {
      console.log(value);
    },
    imglist(data) {
      console.log("图片列表：", data);
    },
    // 关闭详情
    close() {
      //this.detailflag = false;
      this.$emit("close", false);
    },
    // 自定义验证
    handleConfirmBlur(e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    handleMenuClick(e) {
      if (e.key == "cancel") {
        this.detailflag = false;
      }
      if (e.key == "edit") {
        this.itemdetailflag = true;
      }
    },
    // save
    save() {},
    // 弹窗关闭
    selectChange() {},
    // 创建admin
    addadmin() {
      this.addUserFlag = true;
    },
    // 列表行点击
    handleClickRow(record, index) {
      return {
        on: {
          click: () => {
            this.detailflag = true;
            console.log(record);
            console.log("序号索引index" + index);
          }
        }
      };
    },
    // 分页回调
    onChange(pageNumber) {
      console.log("Page: ", pageNumber);
    },

    // 获取列表
    getdata() {
      listUser({
        key: this.key,
        page: this.page,
        limit: this.limit,
        is_enabled: this.statustype
      })
        .then(res => {
          if (res.code === 0) {
            this.pageTotal = res.data.total;
            this.listdata = res.data.items;
          } else {
            this.listdata = [];
          }
        })
        .catch(err => {
          this.requestFailed(err);
        });
    },

    requestFailed(err) {
      this.$message.error("请求出现错误，请稍后再试");
    }
  }
};
</script>
<style lang="less" scoped>
.rightdetail {
  display: block;
  flex: 45;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 15px;
  .title {
    background: #f7f7f7;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    .text {
      font-size: 16px;
      color: #333;
    }
    .dropdown {
      float: right;
    }
  }
}
.rightForms {
  overflow: hidden;
  padding: 15px;

  .toLeft {
    float: left;
    width: 48%;
  }
  .toRight {
    float: right;
    width: 48%;
  }
  .marginBottom {
    margin-bottom: 20px;
  }
  .rightTags {
    .Specialty {
      width: 100%;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #ccc;
      .tagsmodal {
        float: right;
        background: #eae9ff;
        margin-right: 10px;
        color: #998bf4;
        border: none;
        border-radius: 20px;
        margin-top: 6px;
      }
    }
  }
  .rightUpload {
    .photos {
      width: 100%;
      height: 190px;
      border: 1px solid #ccc;
      padding: 13px;
      border-radius: 5px;
      margin-bottom: 20px;
      position: relative;
      .info-item {
        .btn {
          position: absolute;
          right: 0;
          top: -30px;
        }
      }
    }
  }
  .rightReminders {
    .tables {
      border-radius: 5px;
      border: 1px solid #ccc;
      overflow: hidden;
      .tables-head {
        width: 100%;
        height: 26px;
        background: #f7f7f7;
        margin: 0;
        .tables-head-sp {
          display: inline-block;
          width: 25%;
          line-height: 26px;
          text-align: center;
          border-right: 1px solid #eee;
          color: #333;
        }
      }
      .add-row {
        margin: 0;
        text-align: center;
        color: #8674f0;
        .add-row-sp {
          cursor: pointer;
        }
      }
      .tables-body {
        margin: 0;
        .tables-head-sp {
          display: inline-block;
          width: 25%;
          height: 26px;
          text-align: center;
          cursor: pointer;
          border: 1px solid #ccc;
          padding: 0px 2px;
          .ant-input {
            height: 20px;
          }
        }
      }
    }
  }
  .btns {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    span {
      display: inline-block;
      width: 80px;
      height: 24px;
      border-radius: 40px;
      cursor: pointer;
    }
    .save {
      margin-right: 18px;
      background: #e9e7ff;
      color: #8674f0;
    }
    .discard {
      background: #f8e7f6;
      color: #f25a81;
    }
  }
}
</style>
