<template>
  <div>
    <div class="consultation">
      <div class="pulblicBg title">
        <div class="img">
          <img src="../../assets/doctor.png" alt="" />
        </div>
        <div class="text">
          <p>Consultation Appointment With Dr XXX 10/18/2019 9:00AM</p>
          <p>
            You are eligible for free consultation With Dr XXXX, Please proceed
            to finish the rest
          </p>
        </div>
      </div>
      <div class="forms pulblicBg">
        <div class="box">
          <div class="stepFirst pulblicBg">
            <p class="formTit">Step1:Contact information</p>
            <a-form :form="form">
              <a-form-item
                label="Firstname"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-decorator="[
                    'Firstname',
                    {
                      rules: [
                        {
                          required: true,
                          message: 'Please input your Firstname!'
                        }
                      ]
                    }
                  ]"
                />
              </a-form-item>
              <a-form-item
                label="Lastname"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-decorator="[
                    'Lastname',
                    {
                      rules: [
                        {
                          required: true,
                          message: 'Please input your Lastname!'
                        }
                      ]
                    }
                  ]"
                />
              </a-form-item>
              <a-form-item
                label="E-mail"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-decorator="[
                    'E-mail',
                    {
                      rules: [
                        { required: true, message: 'Please input your E-mail!' }
                      ]
                    }
                  ]"
                />
              </a-form-item>
              <a-form-item
                label="Mobile"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-decorator="[
                    'Mobile',
                    {
                      rules: [
                        { required: true, message: 'Please input your Mobile!' }
                      ]
                    }
                  ]"
                />
              </a-form-item>
            </a-form>
          </div>
          <div class="stepSecond pulblicBg">
            <p class="formTit">Step2:Areas Of Consultation</p>
            <div class="areas">
              <a-checkbox-group @change="onChange">
                <a-row>
                  <a-col :span="12"
                    ><a-checkbox value="A"
                      ><a-icon type="link" />Aaaaaa</a-checkbox
                    ></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="B"
                      ><a-icon type="link" />Bxxxxx</a-checkbox
                    ></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="C"
                      ><a-icon type="link" />Cxx</a-checkbox
                    ></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="D">Dxxxxxx</a-checkbox></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="E">Exxxxxxxx</a-checkbox></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="F">Cxx</a-checkbox></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="G">Dxxxxxx</a-checkbox></a-col
                  >
                  <a-col :span="12"
                    ><a-checkbox value="K">Exxxxxxxx</a-checkbox></a-col
                  >
                </a-row>
              </a-checkbox-group>
              <a-textarea
                placeholder="Autosize height with minimum and maximum number of lines"
                :autosize="{ minRows: 2, maxRows: 6 }"
              />
            </div>
          </div>
        </div>
        <div class="choice">
          <div class="check" style="text-align: center;">
            <a-checkbox @change="onChange"
              >I have legally that agree with data privacy</a-checkbox
            >
          </div>
          <div class="btns">
            <span class="save" @click="save"
              ><a-icon type="check-circle" /> Save</span
            >
            <span class="discard" @click="cancel">
              <a-icon type="close-circle" /> Discard</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="data">
      <div class="dataTit">
        <a-icon
          type="pushpin"
          style="color:#8472f0; margin:0 10px 0 20px;font-size:20px"
        />
        <span
          >Consultation Appointment With Dr XXX At 10/18/2019 9:00AM Has
          Confirmed</span
        >
      </div>
      <a-row :gutter="16">
        <a-col :span="16" class="leftContent gutter-row">
          <div class="gutter-box">
            <div class="doctorInfo">
              <h4 class="tit">
                Doctor information
              </h4>
              <div class="doctorDetail">
                <div class="photo">
                  <img src="../../assets/doctor.png" alt="" />
                </div>
                <div class="doctorTable">
                  <table class="left">
                    <tbody>
                      <tr>
                        <td>Firstname</td>
                        <td>xxxx</td>
                      </tr>
                      <tr>
                        <td>Lastname</td>
                        <td>xxxx</td>
                      </tr>
                      <tr>
                        <td>Language</td>
                        <td>
                          <a-tag>ENG</a-tag>
                          <a-tag>CHN</a-tag>
                        </td>
                      </tr>
                      <tr>
                        <td>Areas</td>
                        <td>
                          <a-tag color="pink">abc</a-tag>
                          <a-tag color="red">dvh</a-tag>
                          <a-tag color="orange">ssss</a-tag>
                          <a-tag color="orange">Dvhn</a-tag>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="right">
                    <tbody>
                      <tr>
                        <td>Email</td>
                        <td>foreample@xxx.com</td>
                      </tr>
                      <tr>
                        <td>Mobile</td>
                        <td>+1-347-123-9879</td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>45</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="myPhoto">
              <h4>Date and Time</h4>
              <div class="myCon">
                <div class="myText">
                  <p>
                    Your appointment with Doctor XXXX is on Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Tempore laboriosam,
                    non sapiente in et odio veritatis temporibus saepe est ab
                    sequi incidunt aperiam perspiciatis quaerat, animi minima
                    quae rerum porro!
                  </p>
                  <div class="uploadPhoto">
                    <div class="file">
                      <a-checkbox @change="onChange">Checkbox</a-checkbox>
                      <WyImgCrop></WyImgCrop>
                    </div>
                    <div class="picture">
                      <a-checkbox @change="onChange">Checkbox</a-checkbox>
                      <WyImgCropd></WyImgCropd>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a-col>
        <a-col :span="8" class="rightContent gutter-row">
          <div class="gutter-box">
            <div class="clinicInfo">
              <h4 class="tit">Clinic information</h4>
              <div class="clinicDetail">
                <table>
                  <tbody>
                    <tr>
                      <td>Clinic Name</td>
                      <td>Fountain Vally</td>
                    </tr>
                    <tr>
                      <td>Clinic Address</td>
                      <td>12345 xxx Street,Fountain Vally,CA 92360</td>
                    </tr>
                    <tr>
                      <td>Number</td>
                      <td>+1-234-567-9876</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="map"></div>
              <div class="clinicPhotos">
                <h4>clinic photos</h4>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script>
import WyImgCrop from "../../components/imgcrop/WyImgCrop";
import WyImgCropd from "../../components/imgcropd/WyImgCropd";

export default {
  name: "consultation",
  components: {
    WyImgCrop,
    WyImgCropd
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: "doctor" })
    };
  },
  methods: {
    onChange() {},
    save() {},
    cancel() {}
  }
};
</script>
<style lang="less" scoped>
.consultation {
  .pulblicBg {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #e3e3e3;
    width: 100%;
  }
  .title {
    padding: 30px;
    display: flex;
    margin-bottom: 10px;
    img {
      width: 65px;
      height: 65px;
    }
    p {
      margin-bottom: 0;
      font-weight: 500;
      margin-left: 15px;
      line-height: 32px;
    }
  }
  .forms {
    padding: 30px 100px;
    .box {
      margin-bottom: 15px;
      display: flex;
      .formTit {
        color: #000;
        font-size: 16px;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
        line-height: 16px;
        margin-bottom: 15px;
      }
      .stepFirst {
        padding: 30px;
        margin-right: 70px;
        .ant-form-item {
          .ant-form-item-control-wrapper {
            width: 78%;
          }
        }
      }
      .stepSecond {
        padding: 30px;
      }
    }
  }
  .btns {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    .save,
    .discard {
      display: inline-block;
      width: 80px;
      height: 24px;
      border-radius: 40px;
      cursor: pointer;
    }
    .save {
      margin-right: 18px;
      background: #e9e7ff;
      color: #8674f0;
    }
    .discard {
      background: #f8e7f6;
      color: #f25a81;
    }
  }
}
.data {
  .dataTit {
    border: 1px dashed #8472f0;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    span {
      color: #8472f0;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .gutter-box {
    padding: 5px 0;
  }
  .leftContent {
    .doctorInfo {
      padding: 10px 20px;
      background: #fff;
      border-radius: 10px;
      .doctorDetail {
        padding: 10px 30px;
        .doctorTable {
          overflow: hidden;
          table {
            width: 50%;
            tr > td:first-child {
              text-align: right;
              height: 40px;
              font-weight: 500;
              font-size: 15px;
              padding-right: 10px;
            }
          }
          .left {
            float: left;
            width: 52%;
          }
          .right {
            float: right;
            width: 48%;
          }
        }
      }
      .photo img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background: #5d47d8;
        text-align: center;
      }
    }
    .myPhoto {
      background: #fff;
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 10px;
      padding-bottom: 30px;
      .myCon {
        padding: 10px 0;
        // overflow: hidden;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: space-between;
        .myText {
          line-height: 2.5;
          .uploadPhoto {
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .file,
            .picture {
              height: 190px;
              border: 1px solid #ccc;
              padding: 13px;
              border-radius: 5px;
              margin-bottom: 20px;
              position: relative;
              flex: 1;
              margin: 0 10px;
              .info-item {
                .btn {
                  position: absolute;
                  right: 0;
                  top: -30px;
                }
              }
              .ant-checkbox-wrapper {
                position: absolute;
                top: -35px;
              }
            }
            .file .ant-checkbox-wrapper {
              left: 0;
            }
            .picture .ant-checkbox-wrapper {
              right: 0;
            }
          }
        }
      }
    }
  }
  .rightContent {
    .clinicInfo {
      padding: 10px 20px;
      border-radius: 10px;
      background: #fff;
      table {
        tr > td:first-child {
          width: 40%;
          text-align: right;
          height: 40px;
          font-weight: 500;
          font-size: 15px;
          padding-right: 10px;
        }
      }
      .map {
        height: 200px;
        background: #5d47d8;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .clinicPhotos {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 10px 0;
          li {
            background: #5d47d8;
            width: 130px;
            height: 100px;
            margin-bottom: 10px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
</style>
