<template>
  <div class="doctorList">
    <div class="search">
      <div class="select">
        <span>area of specialty</span>

        <a-popover trigger="click">
          <a-input
            placeholder="Basic usage"
            style="width: 150px;margin:0 10px 0 5px"
          />
          <a-icon
            type="caret-down"
            style="position: absolute;
                top: 10px;
                  left: 230px;"
          />
          <span
            slot="content"
            style="    display: inline-flex;
    width: 220px;
    flex-wrap: wrap;
    justify-content: space-between;"
          >
            <a-button
              icon="check-circle"
              style="    background: #e9e7ff;border-radius: 15px;
    color: #8674f0;"
              >Submit</a-button
            >
            <a-button
              icon="check-square"
              style="    background: #e9e7ff;border-radius: 15px;
    color: #8674f0;"
              >Select All</a-button
            >
            <a-checkbox>
              <a-tag color="pink">pink</a-tag>
            </a-checkbox>
            <a-checkbox><a-tag color="red">red</a-tag></a-checkbox>
            <a-checkbox> <a-tag color="orange">orange</a-tag></a-checkbox>
            <a-checkbox><a-tag color="green">green</a-tag></a-checkbox>
            <a-checkbox><a-tag color="cyan">cyan</a-tag></a-checkbox>
            <a-checkbox><a-tag color="blue">blue</a-tag></a-checkbox>
            <a-checkbox><a-tag color="purple">purple</a-tag></a-checkbox>
          </span>
        </a-popover>
        <span>language</span>
        <a-select defaultValue="" @change="handleChange">
          <a-select-option value="jack">Jack</a-select-option>
          <a-select-option value="lucy">Lucy</a-select-option>
        </a-select>
        <span>distance</span>
        <a-select defaultValue="" @change="handleChange">
          <a-select-option value="jack">Jack</a-select-option>
          <a-select-option value="lucy">Lucy</a-select-option>
        </a-select>
        <span>rating</span>
        <a-select defaultValue="" @change="handleChange">
          <a-select-option value="5"> ≥5 Stars</a-select-option>
          <a-select-option value="4"> ≥4 Stars</a-select-option>
          <a-select-option value="3"> ≥3 Stars</a-select-option>
          <a-select-option value="2"> ≥2 Stars</a-select-option>
          <a-select-option value="1"> ≥1 Stars</a-select-option>
        </a-select>
        <span class="span">Search</span>
        <span class="span">Reset</span>
        <!-- <div class=""></div> -->

        <!-- <a-popover title="Title" trigger="click" v-model="visible">
            <a @click="hide" slot="content">Close</a>
            <a-button type="primary">Click me</a-button>
          </a-popover> -->
        <!-- <div class=""></div>
        <div class=""></div>
        <div class=""></div> -->
      </div>
      <!-- <div class="buttons"></div> -->
    </div>
    <div class="list">
      <div class="detail" @click="single">
        <div class="avatar">
          <img src="../../assets/imgs.jpg" alt="" />
        </div>
        <div class="infomation">
          <p>Peter Cuehnd</p>
          <div class="tags">
            <a-tag color="pink">pink</a-tag>
            <a-tag color="red">red</a-tag>
            <a-tag color="orange">orange</a-tag>
            <a-tag color="green">green</a-tag>
            <a-tag color="cyan">cyan</a-tag>
          </div>
          <div class="rating">
            <a-rate :defaultValue="4" disabled />
            <span style="margin-right:10px;">Amrican eiehh diidivh jdijin</span>
            <span>
              <a-tag>ZH</a-tag>
              <a-tag>EN</a-tag>
              <span style="margin:0 10px;">3 years</span>
              <span>Consultation free</span>
            </span>
          </div>
          <div class="introduction">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
            aliquam deleniti cumque aut et inventore facere consequatur beatae
            minus fugit, molestias temporibus voluptatum? Iste impedit error
            inventore quidem ducimus aut?
          </div>
        </div>
        <div class="photos">
          <img src="../../assets/imgs.jpg" alt="" />
        </div>
      </div>
      <div class="more">
        <p>Read More</p>
      </div>
    </div>
  </div>
</template>
<script>
import tagsmodal from "./tags";

export default {
  components: { tagsmodal },
  data() {
    return {};
  },
  methods: {
    handleChange() {},
    single() {
      console.log("ddddddd");
      this.$emit("funcshow", "single");
    }
  }
};
</script>
<style lang="less" scoped>
.content {
  padding-bottom: 40px;
}
.doctorList {
  .search {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 2px #e3e3e3;
    display: flex;
    //flex: 10;
    margin-bottom: 20px;
    .select {
      //flex: 7;
      width: 100%;
      position: relative;
    }
    .buttons {
      //flex: 2;
      text-align: center;
      span:first-child {
        margin-right: 15px;
      }
    }
    .span {
      width: 100px;
      height: 35px;
      display: inline-block;
      line-height: 35px;
      background-image: linear-gradient(to right, #968bf2, #7562db);
      text-align: center;
      color: #fff;
      border-radius: 10px;
      margin-right: 10px;
    }
    .ant-select {
      width: 150px;
      margin-right: 10px;
      margin-left: 5px;
    }
  }
  .list {
    .detail {
      background: #fff;
      box-shadow: 0 0 0 2px #e3e3e3;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 10px;
      display: flex;
      cursor: pointer;
      .avatar {
        display: inline-block;
        margin-right: 20px;
        img {
          width: 153px;
          height: 213px;
        }
      }
      .infomation {
        display: inline-block;
        .introduction {
          word-wrap: break-word;
          line-height: 2;
        }
      }
      .photos {
        img {
          width: 300px;
          height: 213px;
        }
      }
    }
    .more {
      display: flex;
      justify-content: center;
      width: 100%;
      p {
        width: 120px;
        height: 30px;
        border: 1px solid #7562db;
        border-radius: 15px;
        color: #7562db;
        text-align: center;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }
}
</style>
