<template>
  <div class="data">
    <div id="first" :style="{ width: '33%', height:'280px' }"></div>
    <div id="second" :style="{ width: '33%', height: '280px' }"></div>
    <div id="third" :style="{ width: '33%', height: '280px' }"></div>
  </div>
</template>
<script>
// import { addApp } from '@/api/system'

export default {
  name: "echarts",
  components: {},
  data() {
    return {};
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    this.first();
    this.second();
    this.third();
  },
  methods: {
    first() {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("first"));
      // 绘制图表
      myChart.setOption({
        legend: {},

        dataset: {
          dimensions: ["product", "2015", "2016"],
          source: [
            { product: "Matcha Latte", "2015": 43.3, "2016": 85.8 },
            { product: "Milk Tea", "2015": 83.1, "2016": 73.4 },
            { product: "Cheese Cocoa", "2015": 86.4, "2016": 65.2 },
            { product: "Walnut Brownie", "2015": 72.4, "2016": 53.9 }
          ]
        },
        xAxis: {
          type: "category",
          axisLabel: {
            interval: 0,
            rotate: 40,
            margin:5,
            showMaxLabel:true,
            righ:{
              width:'100%',
              height:'100%'
            }
           
          }
        },
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{ type: "bar" }, { type: "bar" }]
      });
    },
    second() {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("second"));
      // 绘制图表
      myChart.setOption({
        legend: {},

        dataset: {
          dimensions: ["product", "2015", "2016"],
          source: [
            { product: "Matcha Latte", "2015": 43.3, "2016": 85.8 },
            { product: "Milk Tea", "2015": 83.1, "2016": 73.4 },
            { product: "Cheese Cocoa", "2015": 86.4, "2016": 65.2 },
            { product: "Walnut Brownie", "2015": 72.4, "2016": 53.9 }
          ]
        },
        xAxis: {
          type: "category",
          axisLabel: {
            interval: 0,
            rotate: 40
          }
        },
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{ type: "bar" }, { type: "bar" }]
      });
    },
    third() {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById("third"));
      // 绘制图表
      myChart.setOption({
        legend: {},

        dataset: {
          dimensions: ["product", "2015", "2016"],
          source: [
            { product: "Matcha Latte", "2015": 43.3, "2016": 85.8 },
            { product: "Milk Tea", "2015": 83.1, "2016": 73.4 },
            { product: "Cheese Cocoa", "2015": 86.4, "2016": 65.2 },
            { product: "Walnut Brownie", "2015": 72.4, "2016": 53.9 }
          ]
        },
        xAxis: {
          type: "category",
          axisLabel: {
            interval: 0,
            rotate: 40
          }
        },
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [{ type: "bar" }, { type: "bar" }]
      });
    }
  }
};
</script>
<style lang="less" scoped>
.data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
</style>
