<template>
  <div class="content">
    <div class="title" v-if="setp == 'index'">
      <a-icon
        type="pushpin"
        style="color:#8472f0; margin:0 10px 0 20px;font-size:20px"
      />
      <span
        >Tell us A lit about yourself! New care will help you to contect the
        right doctor</span
      >
    </div>
    <div class="introduction" v-if="setp == 'index'">
      <img src="../../assets/imgs.jpg" alt="" />
      <div class="text">
        <p>
          Tell us A lit about yourself! New care will help you to contect the
          right doctor Tell us A lit about yourself! New care will help you to
          contect the right doctor
        </p>
        <p>
          Tell us A lit about yourself! New care will help you to contect the
          right doctor Tell us A lit about yourself! New care will help you to
          contect the right doctor
        </p>
      </div>
    </div>
    <div class="personalInfo" v-if="setp == 'index'">
      <div class="lists">
        <div class="birthday boxs">
          <p class="inforTit">
            Step1: When is your birthday?
          </p>
          <a-input placeholder="Basic usage" style="width">
            <a-tooltip slot="suffix">
              <a-icon type="calendar" style="color: rgba(0,0,0,.45)" />
            </a-tooltip>
          </a-input>
        </div>
        <div class="address boxs">
          <p class="inforTit">
            Step2: Where are your?
          </p>
          <div class="country">
            <span class="addressLabel" style="width:45px">Country</span>
            <a-input-group>
              <a-select>
                <a-select-option value="Home">Home</a-select-option>
                <a-select-option value="Company">Company</a-select-option>
              </a-select>
            </a-input-group>
          </div>
          <div class="city">
            <span class="addressLabel" style="width:55px">City</span>
            <a-input-group>
              <a-select>
                <a-select-option value="Home">Home</a-select-option>
                <a-select-option value="Company">Company</a-select-option>
                <a-select-option value="Company">Company</a-select-option>
              </a-select>
            </a-input-group>
          </div>
        </div>
        <div class="area boxs">
          <p class="inforTit">
            Step3: Which Area are your looking for?
          </p>
          <div class="choice">
            <a-checkbox-group @change="onChange">
              <a-row>
                <a-col :span="12"
                  ><a-checkbox value="A"
                    ><a-icon type="link" />Aaaaaa</a-checkbox
                  ></a-col
                >
                <a-col :span="12"
                  ><a-checkbox value="B"
                    ><a-icon type="link" />Bxxxxx</a-checkbox
                  ></a-col
                >
                <a-col :span="12"
                  ><a-checkbox value="C"
                    ><a-icon type="link" />Cxx</a-checkbox
                  ></a-col
                >
                <a-col :span="12"
                  ><a-checkbox value="D">Dxxxxxx</a-checkbox></a-col
                >
                <a-col :span="12"
                  ><a-checkbox value="E">Exxxxxxxx</a-checkbox></a-col
                >
                <a-col :span="12"><a-checkbox value="F">Cxx</a-checkbox></a-col>
                <a-col :span="12"
                  ><a-checkbox value="G">Dxxxxxx</a-checkbox></a-col
                >
                <a-col :span="12"
                  ><a-checkbox value="K">Exxxxxxxx</a-checkbox></a-col
                >
              </a-row>
            </a-checkbox-group>
            <a-textarea
              placeholder="Autosize height with minimum and maximum number of lines"
              :autosize="{ minRows: 2, maxRows: 6 }"
            />
          </div>
        </div>
      </div>
      <div class="ok">
        <div class="flie">
          <a-checkbox @change="onChange"></a-checkbox>
          <span>I have agreed whit xxxxxxxxx</span>
        </div>
        <p @click="findDoctor">Find Doctor</p>
      </div>
    </div>
    <doctor-list v-if="setp == 'doctorlist'" @funcshow="funcshow">
    </doctor-list>
    <Single v-if="setp == 'single'" @consult="consult" @goBack="goBack"></Single>
    <Consultation v-if="setp == 'consultation'" ></Consultation>
  </div>
</template>
<script>
// import { addApp } from '@/api/system'
import DoctorList from "./doctorList.vue";
import Single from "./single.vue";
import Consultation from "./consultation.vue";
export default {
  name: "Addapp",
  components: { DoctorList ,Single,Consultation},
  data() {
    return {
      setp: "index",
    };
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    onChange(checkedValues) {
      // console.log('checked = ', checkedValues);
      // console.log('value = ', this.value);
    },
    findDoctor() {
      this.setp = "doctorlist";
    },
    funcshow(e){
      this.setp = e;
    },
    consult(aa){
      console.log('111')
      this.setp = aa;
    },
    goBack(e){
       this.setp = e;
    }
  }
};
</script>
<style lang="less" scoped>
.content {
  width: 100%;
  height: 100%;
  background: rgb(233, 237, 248);
  padding: 25px 25px 30px 15px;
  position: relative;
  overflow: hidden;
  .title {
    border: 1px dashed #8472f0;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    span {
      color: #8472f0;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .introduction {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 30px 60px;
    overflow: hidden;
    margin-bottom: 17px;
    box-shadow: 0 0 0 2px #e3e3e3;
    img {
      width: 450px;
      height: 250px;
      float: left;
      margin-right: 30px;
    }
    p {
      padding-top: 10px;
      width: 100%;
      word-wrap: break-word;

      word-spacing: 4px;
      line-height: 2.2;
      font-size: 16px;
    }
  }
  .personalInfo {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 0 2px #e3e3e3;
    .lists {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-bottom: 15px;
      .address {
        .city,
        .country {
          display: flex;
          margin-bottom: 15px;
          .addressLabel {
            text-align: right;
            margin-right: 10px;
          }
          .ant-input-group {
            .ant-select {
              width: 100%;
            }
          }
        }
      }
      .boxs {
        border: 1px solid #ccc;
        box-shadow: 0 0 0 2px #f3f2f2;
        border-radius: 10px;
        padding: 35px 30px 30px 30px;
        display: inline-block;
        width: 32%;
        .inforTit {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .ok {
      .flie {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        span {
          font-size: 16px;
          font-weight: 400;
        }
      }
      p {
        width: 150px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background-image: linear-gradient(to right, #968bf2, #7562db);
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}
</style>
