<template>
  <div class="single">
    <div class="title">
      <a-icon type="arrow-left" style="color:#7562db" />
      <span @click="goBack">Return</span>
    </div>
    <a-row :gutter="16">
      <a-col class="gutter-row" :span="17">
        <div class="infor pulblicBg">
          <div class="news">
            <img src="../../assets/doctor.png" alt="" />
            <div class="toRight">
              <p class="name fontWeight">Perte cddfds</p>
              <div class="tags">
                <span class="fontWeight">Area of Specialty:</span>
                <a-tag color="pink">pink</a-tag>
                <a-tag color="red">red</a-tag>
                <a-tag color="orange">orange</a-tag>
                <a-tag color="green">green</a-tag>
                <a-tag color="cyan">cyan</a-tag>
              </div>
              <div class="else">
                <span class="fontWeight">Gender:Male</span>
                <span>Age:344444444444444443</span>
                <span
                  >Language:
                  <a-tag>ENG</a-tag>
                  <a-tag>CHN</a-tag>
                </span>
              </div>
            </div>
          </div>
          <div class="aboutMe">
            <div class="fontWeight">About me:</div>
            <p>
              Tell us A lit about yourself! New care will help you to contect
              the right doctor.Tell us A lit about yourself! New care will help
              you to contect the right doctor
            </p>
          </div>
        </div>
        <div class="echarts pulblicBg">
          <p class="pbtitle">Performace</p>
          <Echarts></Echarts>
        </div>
        <div class="photos pulblicBg">
          <p class="pbtitle">Clinic Photos</p>
          <div class="photosList">
            <img src="../../assets/imgs.jpg" alt="" />
            <img src="../../assets/imgs.jpg" alt="" />
            <img src="../../assets/imgs.jpg" alt="" />
            <img src="../../assets/imgs.jpg" alt="" />
            <img src="../../assets/imgs.jpg" alt="" />
          </div>
        </div>
        <div class="review pulblicBg">
          <p class="reviewTit">
            <span>Review</span>
            <a-rate :defaultValue="2" disabled allowHalf />
          </p>
          <div class="evaluate">
            <div class="evaluateImg">
              <img src="../../assets/doctor.png" alt="" />
            </div>
            <div class="reviewText">
              <p>
                <span>petter asbbh</span>
                <a-rate :defaultValue="2" disabled allowHalf />
              </p>
              <p style=" word-wrap: break-word;">
                Tell us A lit about yourself! New care will help you to contect
                the right doctor.Tell us A lit about yourself! New care will
                help you to contect the right doctor Tell us A lit about
                yourself! New care will help you to contect the right
                doctor.Tell us A lit about yourself! New care will help you to
                contect the right doctor
              </p>
            </div>
          </div>
          <div class="more">
            <p>Read More</p>
          </div>
        </div>
      </a-col>
      <a-col class="gutter-row" :span="7">
        <div class="map pulblicBg">
          <p class="pbtitle">Location</p>
          <div class="google"></div>
          <span class="address">Ca soscucjishc</span>
        </div>
        <div class="date pulblicBg">
          <p>
            <span style="font-weight:500">Constuon:</span>
            Tell us A lit about yourself! New care will help you to contect the
            right doctor.Tell us A lit about yourself! New care will help you to
            contect the right doctor
          </p>
          <div class="calendar">
            <a-calendar :fullscreen="false" @panelChange="onPanelChange" />
          </div>
          <div class="time">
            <p>8:00 AM</p>
            <p>9:00 AM</p>
            <p>10:00 AM</p>
            <p>11:00 AM</p>
            <p>12:00 AM</p>
            <p>1:00 PM</p>
          </div>
          <div class="consult">
            <a-button class="" @click="consult">Consult Me</a-button>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import Echarts from "./echarts";
export default {
  name: "single",
  components: {
    Echarts
  },
  data() {
    return {};
  },
  methods: {
    consult() {
      console.log("cc");
      this.$emit("consult", "consultation");
    },
    goBack(){
      this.$emit("goBack", "doctorlist");
    },
    onPanelChange(){

    }
  }
};
</script>
<style lang="less" scoped>
.single {
  .pbtitle {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
  }
  .pulblicBg {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #e3e3e3;
    width: 100%;
  }
  .title {
    margin-bottom: 20px;
    span {
      color: #7562db;
      margin-left: 10px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .infor {
    padding: 30px;
    overflow: hidden;
    .fontWeight {
      font-weight: 500;
    }
    .news {
      display: flex;
      .toRight {
        padding: 25px 0 30px 20px;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        .name {
          margin: 0;
        }
        .tags {
          margin: 20px 0;
          span {
            margin-right: 5px;
          }
          .ant-tag {
            border-radius: 15px;
            font-size: 14px;
          }
        }
        .else {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .aboutMe {
      font-size: 18px;
      display: flex;
      div {
        width: 150px;
      }
      p {
        margin-left: 5px;
        word-wrap: break-word;
        margin-bottom: 0;
        display: inline-block;
      }
    }

    img {
      width: 150px;
      height: 150px;
      vertical-align: top;
    }
  }
  .echarts {
    width: 100%;
    margin-top: 15px;
    padding: 30px;
  }
  .photos {
    padding: 30px 20px;
    margin: 15px 0;
    .photosList {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      img {
        width: 19%;
        height: 125px;
        border-radius: 10px;
      }
    }
  }
  .review {
    padding: 30px;
    .reviewTit {
      margin-bottom: 0;
      span {
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        .ant-rate {
          vertical-align: text-bottom;
        }
      }
    }
    .evaluate {
      margin: 20px 0;
      position: relative;
      display: flex;
      .evaluateImg {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
      img {
        width: 45px;
      }
      .reviewText {
        display: inline-block;
        p {
          .ant-rate {
            position: absolute;
            right: 0;
          }
        }
      }
    }
    .more {
      width: 100%;
      p {
        background: #e9e7ff;
        color: #8674f0;
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 15px;
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }
  .map {
    padding: 30px 20px;
    margin-bottom: 10px;
    .google {
      height: 205px;
      width: 100%;
      background: lightblue;
      margin: 10px 0;
    }
  }
  .date {
    padding: 20px;
    .calendar {
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    .time {
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-top: 8px;
      padding: 15px 15px 0 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      p {
        border: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 10px;
        width: 30%;
      }
    }
    .consult {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      button {
        border: none;
        background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#968bf2),
          to(#7562db)
        );
        background-image: linear-gradient(to right, #968bf2, #7562db);
        color: #fff;
      }
    }
  }
}
</style>
