<template>
	<div class='imgbox'>
		<div class="img_lists"  v-for="(item,index) in imgLists" :key='index' v-if="imgLists">
			<a-icon class="del_icon" type="close-circle"  @click="del(index)" />
			<img class='imgs' :src="item"  alt="" />
		</div>

		<!--<div class="info-item" >
			<div style="width:120px;height:120px;border-radius:50%;overflow:hidden;margin-left:123px;border:1px solid #ddd">
				<img style="width:120px;height:120px;" :src="headImg" alt="头像">
			</div>
		</div>-->
		<div class="info-item" >
			<label class="btn" for="upload"> <a-icon type="cloud-upload" /> upload</label>
			<input class="inp_file" type="file" id="upload" :value="imgFiles" accept="image/png, image/jpeg, image/gif, image/jpg" @change="uploadImg($event, 1)">
		</div>
		<a-modal title="Title" :visible="visible" @ok="handleOk" :confirmLoading="confirmLoading" @cancel="handleCancel">
			<button class="oper"   title="放大" @click="changeScale(1)">+</button>
			<button class="oper"   title="缩小" @click="changeScale(-1)">-</button>
			<button class="oper"   title="左旋转" @click="rotateLeft">↺</button>
			<button class="oper"   title="右旋转" @click="rotateRight">↻</button>
			<button class="oper"   title="下载" @click="down('blob')">↓</button>
			<button class="btn-blue" value="上传头像" @click="finish('blob')">上传头像</button>
			<div class="line" style="margin-top: 20px;">
				<div class="cropper-content" >
					<div class="cropper">
						<vueCropper ref="cropper" :img="option.img" :outputSize="option.size" :outputType="option.outputType" :info="true" :full="option.full" :canMove="option.canMove" :canMoveBox="option.canMoveBox" :original="option.original" :autoCrop="option.autoCrop" :autoCropWidth="option.autoCropWidth" :autoCropHeight="option.autoCropHeight" :fixedBox="option.fixedBox" @realTime="realTime" @imgLoad="imgLoad"></vueCropper>
					</div>
					<div style="margin-left:20px;">
						<div class="show-preview" :style="{'width': '150px', 'height':'155px',  'overflow': 'hidden', 'margin': '5px'}">
							<div :style="previews.div" class="preview">
								<img :src="previews.url" :style="previews.img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</a-modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				visible: false,
				confirmLoading: false,
				imgLists:[],
				
				headImg: '',
				//剪切图片上传
				crap: false,
				previews: {},
				option: {
					img: '',
					outputSize: 1, //剪切后的图片质量（0.1-1）
					full: false, //输出原图比例截图 props名full
					outputType: 'png',
					canMove: true,
					original: false,
					canMoveBox: true,
					autoCrop: true,
					autoCropWidth: 150,
					autoCropHeight: 150,
					fixedBox: true
				},
				fileName: '', //本机文件地址
				downImg: '#',
				imgFiles: '',
				uploadImgRelaPath: '', //上传后的图片的地址（不带服务器域名）
			}
		},
		methods: {
			// 删除图片
			del(index){
				this.imgLists.splice(index,1)
				this.$emit('imglists',this.imgLists)
				// this.$emit('headPortraitcbs',true)
			},
			// 点击弹窗确认ok时
			handleOk(e) {
				this.finish('blob')
				this.confirmLoading = true;
				this.$emit('imglists',this.imgLists)
				// this.$emit('headPortraitcbs',false)
				setTimeout(() => {
					this.visible = false;
					this.confirmLoading = false;
				}, 0);
			},
			// 关闭弹窗
			handleCancel(e) {
				this.visible = false
			},
			// 放大/缩小
			changeScale(num) {
				console.log('changeScale')
				num = num || 1;
				this.$refs.cropper.changeScale(num);
			}, 
			// 坐旋转
			rotateLeft() {
				console.log('rotateLeft')
				this.$refs.cropper.rotateLeft();
			},
			// 右旋转
			rotateRight() {
				console.log('rotateRight')
				this.$refs.cropper.rotateRight();
			},
			// 上传图片（点击上传按钮）
			finish(type) {
				console.log('finish')
				let _this = this;
				let formData = new FormData();
				// 输出 
				if(type === 'blob') {

					this.$refs.cropper.getCropBlob((data) => {
						console.log(1111)
						console.log(data)
						let img = window.URL.createObjectURL(data)
						this.model = true;
						this.modelSrc = img;
						this.headImg = img;
						this.imgLists.push(img)
						// this.$emit('headPortraitcbs',false)
						formData.append("file", data, this.fileName);
//          this.$http.post('http://124.207.149.202/api/fileupload/upload', formData, {contentType: false, processData: false, headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
//          .then((res)=>{
//          	console.log(res)
//              _this.imgFile = '';
//              _this.headImg = res.data.data.certifJpgFile;  //完整路径
//              _this.uploadImgRelaPath = res.data.data.certificatesjpg;  //非完整路径
//              _this.$message({　　//element-ui的消息Message消息提示组件
//                type: 'success',
//                message: '上传成功'
//              });
//          })
					})
				} else {
					this.$refs.cropper.getCropData((data) => {
						this.model = true;
						this.modelSrc = data;
					})
				}
			},
			// 实时预览函数 
			realTime(data) {
				console.log('realTime', data)
				this.previews = data
			},
			// 下载图片
			down(type) {
				console.log('down')
				var aLink = document.createElement('a')
				aLink.download = 'author-img'
				if(type === 'blob') {
					this.$refs.cropper.getCropBlob((data) => {
						this.downImg = window.URL.createObjectURL(data)
						aLink.href = window.URL.createObjectURL(data)
						aLink.click()
					})
				} else {
					this.$refs.cropper.getCropData((data) => {
						this.downImg = data;
						aLink.href = data;
						aLink.click()
					})
				}
			},
			// 选择本地图片
			uploadImg(e, num) {
				console.log('uploadImg');
				var _this = this;
				//上传图片 
				var file = e.target.files[0]
				_this.fileName = file.name;
				if(!/\.(gif|jpg|jpeg|png|bmp|GIF|JPG|PNG)$/.test(e.target.value)) {
					alert('图片类型必须是.gif,jpeg,jpg,png,bmp中的一种')
					return false
				}
				this.visible = true
				var reader = new FileReader();
				reader.onload = (e) => {
					let data;
					if(typeof e.target.result === 'object') {
						// 把Array Buffer转化为blob 如果是base64不需要 
						data = window.URL.createObjectURL(new Blob([e.target.result]))
					} else {
						data = e.target.result
					}
					if(num === 1) {
						_this.option.img = data
					} else if(num === 2) {
						_this.example2.img = data
					}
				}
				// 转化为base64 
				// reader.readAsDataURL(file) 
				// 转化为blob 
				reader.readAsArrayBuffer(file);
			},
			imgLoad(msg) {
				console.log('imgLoad')
				console.log(msg)
			}
		},

	}
</script>

<style lang="less">
	.oper{
		height:40px;
		width:43px;
		font-size:20px;
		margin:3px 5px;
	}
	.img_list{
		border: 1px solid #c3c3c3; 
		margin-right: 10px; 
		float: left; 
		margin-bottom:15px;
		position: relative;
		.del_icon{
			position: absolute; 
			top: 5px;
			right: 5px;
			font-size: 16px; 
			color: red;
		}
		img{
			width:80px;
		}
	}
	.btn{
		display: inline-block;
		width: 80px;
		height: 24px;
		font-size: 14px;
		background:#eae9ff;
		color:#998bf4;
		padding: 0;
		border-radius:30px;
		text-align: center;
		line-height: 24px;
	}
	.inp_file{
		position:absolute;
		clip:rect(0 0 0 0);
	}
	.btn-blue{
		width: 100px;
		height: 40px;
		font-size:20px;
		margin:3px 5px;
	}
	.info {
		width: 720px;
		margin: 0 auto;
		.oper-dv {
			height: 20px;
			text-align: right;
			margin-right: 100px;
			a {
				font-weight: 500;
				&:last-child {
					margin-left: 30px;
				}
			}
		}
	}
	.cropper-content {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-end;
		-webkit-justify-content: flex-end;
		.cropper {
			width: 260px;
			height: 260px;
		}
		.show-preview {
			flex: 1;
			-webkit-flex: 1;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			.preview {
				overflow: hidden;
				border-radius: 50%;
				border: 1px solid #cccccc;
				background: #cccccc;
				margin-left: 40px;
			}
		}
	}
	
	.cropper-content .show-preview .preview {
		margin-left: 0;
	}
</style>