<template>
  <a-layout-sider
    :class="['sider', isDesktop() ? null : 'shadow', theme, fixSiderbar ? 'ant-fixed-sidemenu' : null ]"
    width="256px"
    :collapsible="collapsible"
    v-model="collapsed"
    :trigger="null">
    <logo />
    
    <p class='wy-titletype'>
      <span  :class="!collapsed ? 'spans' : 'small-span'" v-if="!collapsed">
        IVF platform
      </span>
      <span :class="!collapsed ? 'spans' : 'small-span'" v-if="collapsed">
        IVF
      </span>
    </p>
    <p class='wy-titletype'>
      <span :class="!collapsed ? 'spans' : 'small-span'" v-if="!collapsed">
        Admin platform
      </span>
      <span :class="!collapsed ? 'spans' : 'small-span'" v-if="collapsed">
        Admin
      </span>
    </p>
    <s-menu
      :collapsed="collapsed"
      :menu="menus"
      :theme="theme"
      :mode="mode"
      @select="onSelect"
      style="padding: 16px"></s-menu>
      <div  class="header">
        <a-icon v-if="device==='mobile'" class="trigger" :type="collapsed ? 'right' : 'left'" @click="toggle"/>
        <a-icon v-else class="trigger" :type="collapsed ? 'right' : 'left'" @click="toggle"/>
      </div>
  </a-layout-sider>

</template>

<script>
import Logo from '@/components/tools/Logo'
import SMenu from './index'
import { mixin, mixinDevice } from '@/utils/mixin'

export default {
  name: 'SideMenu',
  components: { Logo, SMenu },
  mixins: [mixin, mixinDevice],
  props: {
    mode: {
      type: String,
      required: false,
      default: 'sidemenu'
    },
    theme: {
      type: String,
      required: false,
      default: 'dark'
    },
    collapsible: {
      type: Boolean,
      required: false,
      default: false
    },
    collapsed: {
      type: Boolean,
      required: false,
      default: false
    },
    menus: {
      type: Array,
      required: true
    }
  },
  methods: {
    toggle () {
      this.$emit('toggle')
    },
    onSelect (obj) {
      this.$emit('menuSelect', obj)
    }
  }
}
</script>
